<p-dialog [header]="dialogTitle" 
  [(visible)]="isDialogVisible" 
  [style]="{ width: '40vw', minWidth: '320px'}"
  [modal]="true" 
  [dismissableMask]="true"
  [draggable]="false" 
  [resizable]="false"
  (onHide)="hide()">

  <p-divider></p-divider>

  <!-- Input -->
  <span class="p-fluid pt-0">
    <p-autoComplete [(ngModel)]="selectedUsers" 
      appendTo="body"
      [suggestions]="searchedUsers" 
      field="username"
      (completeMethod)="search($event)" 
      [multiple]="true"
      [placeholder]="dialogDescription"
      styleClass="p-3">
      <ng-template let-user pTemplate="item">
        <div class="flex align-items-center gap-2">
          <app-avatar [userId]="user.id" [width]="48" [userStory]="user"></app-avatar>
          <div>
            <div>{{ user.username }}</div>
            <small class="text-gray-500">{{ user.followerCount }} followers</small>
          </div>
        </div>
      </ng-template>
    </p-autoComplete> 
  </span>

  <p-divider></p-divider>
  
  <!-- Button -->
  <div class="p-fluid p-3">
    <p-button [label]="dialogSubmitLabel" [disabled]="!selectedUsers || selectedUsers.length === 0" (click)="submit()"></p-button>
  </div>

</p-dialog>