<div class="form-container">
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    <div class="column-right">
      <label for="username">Username:</label>
      <input formControlName="username" type="text" required />

      <label for="email">Email:</label>
      <input formControlName="email" type="email" required />

      <label for="bio">Bio:</label>
      <textarea formControlName="bio" rows="4" required></textarea>

      <button type="submit">Submit</button>
    </div>
  </form>
  <p-toast></p-toast>
</div>
