<div class="container">
  <!-- menu -->
   <div class="flex justify-content-between align-items-center lg:px-6 p-3 sticky top-0 surface-0 z-5">
      <h1 (click)="navigateTo('/')" class="text-4xl text-primary cursor-pointer" style="font-weight: 900;">SYNCIO</h1>
      <ul class="list-none lg:text-2xl text-xl flex gap-3 pl-0">
        <ng-container *ngIf="!currentUserId">
          <li><p (click)="navigateTo('/login')" class="my-0 cursor-pointer">{{'about.login' | translate}}</p></li>
          <li><p (click)="navigateTo('/register')" class="text-primary font-semibold my-0 cursor-pointer">{{'about.sign_up' | translate}}</p></li>
        </ng-container>
        <ng-container *ngIf="currentUserId">
          <li><p (click)="scrollToElement('download')" class="my-0 cursor-pointer">{{'about.download' | translate}}</p></li>
          <li><p (click)="scrollToElement('members')" class="my-0 cursor-pointer">{{'about.members' | translate}}</p></li>
        </ng-container>
      </ul>
   </div>

   <!-- content -->
    <div>
      <div class="fade-left lg:px-6 px-3 mb-8">
        <div class="flex lg:flex-row flex-column align-items-center gap-3">
          <h1 class="font-normal lg:text-8xl text-6xl"><span class="text-primary font-semibold">{{'about.connect' | translate}}</span> <br> {{'about.people_to_your_own_world' | translate}}</h1>
          <img src="/assets/images/people.jpg" class="lg:col-6 col-12">
        </div>
        <h1 class="font-normal lg:text-7xl text-5xl text-right">{{'about.with_unique_social_networking' | translate}}</h1>
        <img src="/assets/images/selfie.jpg" class="fade-in lg:col-5 col-8">
      </div>

      <!-- Join with Us -->
      <div class="fade-right lg:px-6 px-3 lg:py-8 py-6 text-center">
        <h1 class="font-normal lg:text-7xl text-5xl mb-3">{{'about.join_with_us' | translate}}</h1>
        <p class="my-0 text-2xl">{{'about.you_can_create_your_own_account_to_connect_with_your_friends_family_and_other_people' | translate}}.</p>
        <div style="transform: rotate(-90deg); cursor: pointer;" (click)="navigateTo('/register')">
          <svg class="_ack3" width="96" height="112" viewBox="0 0 96 112" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0691 67.5589L22.8279 67.5589C27.8908 67.5589 32.2155 68.7192 35.8017 71.0397C39.4935 73.4657 41.9722 76.8938 43.238 81.3239L43.238 7.91088L55.8954 7.91088L55.8954 81.3239C57.1611 76.8938 59.5871 73.4657 63.1734 71.0397C66.8651 68.7192 71.2425 67.5589 76.3055 67.5589L87.0643 67.5589L87.0643 81.1657L77.7294 81.1657C71.1897 81.1657 65.8631 82.9061 61.7494 86.3868C57.6358 89.8676 55.5789 94.7196 55.5789 100.943L55.5789 102.841L43.5544 102.841L43.5544 100.943C43.5544 94.7196 41.4976 89.8676 37.3839 86.3868C33.2702 82.9061 27.9436 81.1657 21.4039 81.1657L12.0691 81.1657L12.0691 67.5589Z" fill="#3B82F6"></path></svg>
        </div>
      </div>

      <!-- We are a group of students -->
      <div class="fade-left relative w-full my-6" style="height: 80vh;">
        <img src="/assets/images/login-background.png" class="absolute top-0 left-0 w-full h-full" alt="">
        <p class="absolute top-50 left-0 lg:text-7xl text-5xl lg:p-6 p-3 text-0 m-0" style="transform: translateY(-50%);">
          {{'about.we_are_a_group_of_students' | translate}}. <br>
          {{'about.want_to_create_our_own_social_media_platform_for_groups_organizations_and_nations' | translate}}.</p>
      </div>

      <div class="fade-right relative lg:px-8 px-4 flex align-items-start justify-content-between gap-4">
        <img src="/assets/images/person.jpg" class="col-3 mt-6 p-0">
        <img src="/assets/images/person-2.jpg" class="col-8">
      </div>

      <!-- Download -->
      <div id="download" class="fade-in lg:px-6 px-3 py-8">
        <h1 class="font-normal lg:text-7xl text-5xl text-center mb-3">{{'about.download_for_Android/Windows' | translate}}.</h1>
        <div class="flex justify-content-center gap-3 lg:col-4 col-8 m-auto">
          <a href="https://dl.dropboxusercontent.com/scl/fi/pu4h130ywk1qeiv1ih568/syncio.apk?rlkey=ft9q6b5bjnuy7ncp53b6b9gcw&st=lundmqcp" download class="col-6 block">
            <img src="/assets/images/android-button.png" class="w-full" style="aspect-ratio: 3/1;" alt="">
          </a>
          <a href="https://dl.dropboxusercontent.com/scl/fi/g9mmq0jixzdjbfsmnfeuo/syncio.exe?rlkey=jp3y9nu9oq1q6n636pn6hs8v7&st=lundmqcp" download class="col-6 block">
            <img src="/assets/images/windows-button.png" class="w-full" style="aspect-ratio: 3/1;" alt="">
          </a>
        </div>

        <p class="text-center mb-0">In case the download link is not working, please try this instead:</p>
        <div class="flex justify-content-center gap-3 lg:col-6 col-10 m-auto">
          <a href="https://drive.google.com/file/d/1OsZwgOCdwMmKU9D7Lb37klfMGE89P4tk/view?usp=sharing" download class="block">
            Download for Android
          </a>
          <a href="https://drive.google.com/file/d/1nZ_oucl77fpunzDBLV35wWhoFK2Bac4D/view?usp=sharing" download class="block">
            Download for Windows
          </a>
        </div>
      </div>

      <!-- Members -->
      <div id="members" class="fade-in lg:px-6 px-3 py-4 bg-primary text-0">
        <h1 class="font-normal lg:text-7xl text-5xl text-center mb-3">{{'about.our_members' | translate}}</h1>
        <div class="flex flex-column lg:flex-row justify-content-center lg:gap-6 gap-3 lg:col-4 col-8 m-auto text-center">
          <div class="">
            <img src="/assets/images/members/Duong.png" style="width: 196px; border-radius: 50%;" alt="">
            <p class="text-3xl mt-2">{{'about.nguyen_ngoc' | translate}} <br> {{'about.thuy_duong' | translate}}</p>
          </div>
          <div class="">
            <img src="/assets/images/members/Huy.png" style="width: 196px; border-radius: 50%;" alt="">
            <p class="text-3xl mt-2">{{'about.than' | translate}} <br> {{'about.van_huy' | translate}}</p>
          </div>
          <div class="">
            <img src="/assets/images/members/Sanh.png" style="width: 196px; border-radius: 50%;" alt="">
            <p class="text-3xl mt-2">{{'about.nguyen' | translate}} <br> {{'about.xuan_sanh' | translate}}</p>
          </div>
        </div>
        <div class="mt-3 flex flex-column lg:flex-row justify-content-center lg:gap-6 gap-3 lg:col-4 col-8 m-auto text-center">
          <div class="">
            <img src="/assets/images/members/Thanh.jpg" style="width: 196px; border-radius: 50%;" alt="">
            <p class="text-3xl mt-2">{{'about.chu' | translate}} <br> {{'about.minh_thanh' | translate}}</p>
          </div>
          <div class="">
            <img src="/assets/images/members/Thuan.jpg" style="width: 196px; border-radius: 50%;" alt="">
            <p class="text-3xl mt-2">{{'about.nguyen_duong' | translate}} <br> {{'about.quoc_thuan' | translate}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
