<!-- Grid -->
<article *ngIf="viewMode === 'grid'" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 4px">
  <ng-container *ngFor="let post of posts">
    <!-- photos -->
    <div *ngIf="post.photos && post.photos.length > 0 && !isVideo(post.photos[0].url)" 
      style="aspect-ratio: 1/1; cursor: pointer;"
      (click)="handleShowPostDetail(post)">
      <img height="100%"
        width="100%"
        [src]="post.photos[0].url | constructImageUrl"
        [alt]="post.photos[0].altText"
        style="object-fit: cover; display: block;" />
    </div>
    <!-- video -->
    <div *ngIf="post.photos && post.photos.length > 0 && post.photos[0] && isVideo(post.photos[0].url)"
      class="relative"
      style="aspect-ratio: 1/1; cursor: pointer;"
      (click)="handleShowPostDetail(post)">
      <video muted
        class="w-full h-full"
        style="object-fit: cover">
        <source [src]="post.photos[0].url | constructImageUrl">
        Your browser does not support the video tag.
      </video>
      <span class="pi pi-video absolute top-0 right-0 p-2" style="color: var(--surface-0)"></span>
    </div>
  </ng-container>

  <!-- Loading -->
  <div *ngIf="!endOfPosts" class="mx-auto w-fit my-2" style="grid-column: span 3;">
    <i #loading class="pi pi-spin pi-spinner" style="font-size: 1.5rem; color: var(--primary-color);"></i>
  </div>
</article>

<!-- List -->
<article *ngIf="viewMode === 'list'" class="w-full">
  <ng-container *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
  </ng-container>

  <!-- Loading -->
  <div *ngIf="!endOfPosts" class="mx-auto w-fit my-2">
    <i #loading class="pi pi-spin pi-spinner" style="font-size: 1.5rem; color: var(--primary-color);"></i>
  </div>
</article>

<!-- No post -->
<div *ngIf="posts.length === 0" class="mt-4">
  <p class="text-center mt-1 text-gray-500">{{ 'post_list.no_posts_yet' | translate}}</p>
</div>