.left-side ::ng-deep {
  .p-button-label {
    flex: none;
  }

  .menu-active .p-button {
    background: rgba(100, 116, 139, 0.16);
    border-color: transparent;
    color: #64748B;
  }
}

.mobile {
  overflow: scroll;
  scroll-behavior: smooth;
}

.mobile ::ng-deep .p-divider.p-divider-vertical {
  margin: 0;
}

.mobile .left-side,
.mobile .right-side {
  min-width: 100%;
  padding: 0 1rem;
}