
.post {
  width: min(470px, 100vw);

  ::ng-deep {
    // Photos
    .p-carousel-content,
    .p-carousel-container,
    .p-carousel-items-container {
      height: 100%;
    }

    .p-carousel-indicators {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    // Next/Prev buttons
    .p-carousel .p-carousel-content .p-carousel-prev, 
    .p-carousel .p-carousel-content .p-carousel-next {
      position: absolute;
      z-index: 9;
    }
    
    .p-carousel .p-carousel-content .p-carousel-next {
      right: 0;
    }

    // Indicator
    .p-carousel .p-carousel-indicators .p-carousel-indicator button {
      width: 0.5rem;
      border-radius: 50%;
    }

    .close-friend {
      .p-button.p-button-icon-only {
        padding: 0.5rem;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
      }

      .p-button-icon {
        font-size: 0.75rem;
      }
    }
  }
}

// hide slide control when 1 photo
p-carousel.hide-slide-control ::ng-deep {
  .p-carousel .p-carousel-content .p-carousel-prev, 
  .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
  }

  .p-carousel .p-carousel-indicators {
    display: none;
  }
}

app-username-label ::ng-deep > div {
  display: inline !important;
}