:host {
  padding: 0;
}

.message-item:hover,
.message-item.active {
  background-color: var(--surface-100);
  cursor: pointer;
  transition: .2s;
}

.message-container {
  min-height: calc(100vh - 1rem);
  max-height: calc(100vh - 1rem);
}

::ng-deep .p-divider {
  margin: 0;
}

.preview-message-content ::ng-deep {
  p {
    width: 100%;
    margin: 0;
    display: inline-block;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
  }

  .notification small {
    margin: 0;
    font-weight: normal !important;
    text-align: left !important;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
  }
}



// mobile
.mobile {
  overflow: hidden;
  scroll-behavior: smooth;
  height: calc(100vh - var(--mobile-top-menu-height) - var(--mobile-bottom-menu-height));
  min-height: calc(100vh - var(--mobile-top-menu-height) - var(--mobile-bottom-menu-height));
}

.mobile .left {
  width: 100%;
}

.mobile .right {
  width: 100%;
}