<div #messageContainer class="message-container flex"
  [class.mobile]="isMobile">

  <!-- Left  -->
  <div class="left col-3 p-0 flex flex-column">
    <!-- Username Header -->
    <div *ngIf="currentUser" class="flex justify-content-between align-items-center p-2">
      <div class="flex justify-content-between align-items-center gap-2">
        <app-avatar [userId]="currentUser.id" [width]="48"></app-avatar>
        <h3>{{currentUser.username}}</h3>
      </div>
      <i (click)="isDialogVisible = true" class="fa-regular fa-pen-to-square cursor-pointer"></i>
    </div>

    <p-divider></p-divider>

    <!-- Message Room List -->
    <div class="flex-1 overflow-hidden flex flex-column">
      <h4 class="px-2">{{ 'messages.messages' | translate }}</h4>
      <div class="flex-1 primary-scrollbar overflow-y-scroll">
        <div *ngFor="let messageroom of messageRooms"
          (click)="selectMessageRoom(messageroom)"
          [routerLink]="['inbox', messageroom.id]"
          routerLinkActive="active"
          class="message-item py-3 px-2">
          <div class="flex align-items-center gap-2">
            <app-avatar [userId]="messageroom.avatarURL" [width]="48" [onError]="messageroom.group ? 'assets/images/avatar-group.jpg' : ''"></app-avatar>
            <div class="w-full" [ngStyle]="{ 'max-width': (messageroom.unSeenCount && messageroom.unSeenCount > 0) ? 'calc(100% - 48px - 0.5rem - 20px - 0.5rem)' : 'calc(100% - 48px - 0.5rem)'}">
              <p *ngIf="currentUser.username"
                title="{{messageroom.name}}"
                class="my-1 line-clamp"
                style="word-break: break-word;">
                {{messageroom.name}}
              </p>
              <!-- last message -->
              <div *ngIf="messageroom.lastMessage" class="preview-message-content flex 1 flex align-items-center gap-1 text-gray-500">
                <!-- if type is text, show message -->
                <small *ngIf="!messageroom.lastMessage?.type?.startsWith('NOTIFICATION') && messageroom.lastMessage?.type == MessageContentTypeEnum.TEXT" 
                  style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
                  class="line-clamp"
                  [innerHTML]="messageroom.lastMessage.message">
                </small>
                <!-- if type is not text, show user sent a sticker or photo -->
                <small *ngIf="!messageroom.lastMessage?.type?.startsWith('NOTIFICATION') && messageroom.lastMessage?.type != MessageContentTypeEnum.TEXT" 
                  style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                  <ng-container>
                    {{messageroom.lastMessage.user?.username == this.currentUser.username ? 'You' : messageroom.lastMessage.user?.username}}
                    sent a 
                    {{messageroom.lastMessage.type == MessageContentTypeEnum.STICKER ? 'sticker' : 'photo'}}.
                  </ng-container>
                </small>
                <!-- if type is notification, show notification -->
                <ng-container *ngIf="messageroom.lastMessage?.type?.startsWith('NOTIFICATION')">
                  <app-message-item class="notification flex-1" style="width: 10px;" 
                    [messageContent]="messageroom.lastMessage"
                    [currentUser]="currentUser"
                    [messageRoom]="messageroom"
                    [isLastSeen]="false">
                  </app-message-item>
                </ng-container>
                <small>·</small>
                <!-- date sent -->
                <small class="white-space-nowrap">{{messageroom.lastMessage.dateSent | dateAgoPipe: 'mth'}}</small>
              </div>
            </div>
            <!-- unSeenCount -->
            <span *ngIf="messageroom.unSeenCount && messageroom.unSeenCount > 0" style="min-width: 1.25rem; min-height: 1.25rem; font-size: 0.75rem;" class="ml-auto bg-red-500 border-circle text-white flex justify-content-center align-items-center">
              {{messageroom.unSeenCount}}
            </span>
          </div>
        </div>  
      </div>
    </div>
  </div>

  <p-divider [layout]="'vertical'"></p-divider>

  <!-- Message Content -->
  <div class="right col-9 message-content p-0">
    <app-message-content-list *ngIf="selectedMessageRoom && selectedMessageRoom.id" 
      [isMobile]="isMobile"
      [messageRoom]="selectedMessageRoom"
      [currentUser]="currentUser"
      (sendFirstMessageEvent)="sendFirstMessageEvent()"
      (updateMessageRoomNameEvent)="updateMessageRoomName($event)"
      (backToMessageRoomListEvent)="backToMessageRoomListEvent($event)">
    </app-message-content-list>

    <div *ngIf="(!selectedMessageRoom || !selectedMessageRoom.id) && !isMobile" class="flex flex-column justify-content-center align-items-center gap-3 h-full">
      <i class="pi pi-comments" style="font-size: 4rem"></i>
      <p class="my-0 text-xl">{{ 'messages.your_messages' | translate }}</p>
      <small>{{ 'messages.send_a_message_to_start_a_chat' | translate }}.</small>
      <p-button [label]="'messages.send_message' | translate" (click)="isDialogVisible = true"></p-button>
    </div>
  </div>
</div>



<!-- New message dialog -->
<app-select-user-dialog *ngIf="currentUser && currentUser.id"
  [isDialogVisible]="isDialogVisible"
  [dialogTitle]="'messages.new_message' | translate"
  [dialogDescription]="('messages.to' | translate) + '...'"
  [dialogSubmitLabel]="'messages.chat' | translate"
  (selectedUsersEvent)="chat($event)"
  (visibleHide)="isDialogVisible = false">
</app-select-user-dialog>
