<div class="container" id="container">
  <div class="form-container">
    <form>
      <h1 class="form-title" style="font-size: 28px">Reset Password</h1>
      <div class="form-group">
        <input
          type="email"
          [(ngModel)]="email"
          name="phone"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <button (click)="sendPasswordToMail()" class="btn btn-primary">
          Reset Password
        </button>
      </div>
    </form>
  </div>

  <p-toast></p-toast>
</div>
