<div class="wrapper" style="background-image: url('assets/images/login-background.png');">
  <!-- lang -->
  <div class="absolute top-0 right-0 p-4 flex align-items-center gap-4" style="color: var(--surface-900);">
    <p (click)="switchLang('en')" class="underline cursor-pointer">English</p>
    <p (click)="switchLang('vi')" class="underline cursor-pointer">Tiếng Việt</p>
    <span class="pi pi-question-circle cursor-pointer" routerLink="/help" style="font-size: 1.25rem;"></span>
  </div>

  <div class="form flex col-12 sm:col-4 p-0 align-items-stretch px-4">
    <form class="col-12 flex flex-column gap-5 justify-content-center align-items-center shadow-1">
      <!-- title -->
      <h1 class="text-center">{{ 'forgot_password.reset_your_password' | translate }}</h1>
      <!-- email -->
      <div class="flex flex-column gap-4 w-full">
        <div class="w-full">
          <input
            [placeholder]="'forgot_password.email' | translate"
            type="email"
            [(ngModel)]="email"
            name="email"
            (keydown.enter)="onSubmit()"
          />
        </div>
      </div>
      <!-- submit button -->
      <p-button
        [disabled]="!email"
        (click)="sendPasswordToMail()"
        [label]="'forgot_password.send_reset_link' | translate"
        class="w-full"
        styleClass="w-full"
      />
      <!-- back to login/register -->
      <div>
        <p routerLink="/register" class="text-center text-sm mt-2">
          {{ 'forgot_password.dont_have_an_account' | translate }}?
          <span class="text-primary font-bold cursor-pointer">{{ 'forgot_password.sign_up' | translate }}</span>
        </p>
        <p routerLink="/login" class="text-primary font-bold text-center cursor-pointer text-sm mt-2">
          {{ 'forgot_password.back_to_login' | translate }}
        </p>
      </div>
    </form>
  </div>
</div>
