
<div class="search__wrap">
  <div
    id="search"
    class="search_section flex flex-column"
    (click)="$event.stopPropagation()"
    [class.show]="showSearch"
    [class.mobile]="isMobile">

    <div class="flex align-items-center justify-content-between my-3 px-3">  
      <!-- title -->
      <h2 class="font-semibold">{{ 'search.search' | translate }}</h2>
      <!-- search by image button -->
      <div>
        <input
          #fileInput
          type="file"
          style="display: none"
          accept="image/*"
          (change)="onFileSelected($event)" />
          <p-button *ngIf="currentUserId" (click)="fileInput.click()" [label]="'search.by_image' | translate" icon="pi pi-upload" severity="primary"></p-button>
      </div>
    </div>

    <!-- input search -->
    <form method="post" style="width: calc(100% - 2rem); margin: 0 auto; position: relative;">
      <input #searchInput
        type="text"
        [placeholder]="'search.search_by_username_or_email' | translate"
        (keyup)="handleKeyup($event)"
      />
      <!-- loading and clear icon -->
      <div class="nav-search-icon">
        <i *ngIf="isLoading" class="cursor-pointer pi pi-spin pi-spinner" style="font-size: 0.75rem"></i>
        <i *ngIf="!isLoading" (click)="clickClearInput()" class="cursor-pointer pi pi-times" style="font-size: 0.75rem"></i>
      </div>
    </form>

    <p-divider></p-divider>

    <div class="find primary-scrollbar overflow-y-scroll">
      <!-- recent and clear all -->
      <div class="desc px-3">
        <h4 class="font-semibold mb-0">{{ 'search.result' | translate }}</h4>
        <!-- <p class="cursor-pointer"><a (click)="clickClearInput()">{{ 'search.clear_all' | translate }}</a></p> -->
      </div>
      <!-- list of recent search -->
      <div class="account">
        <div *ngIf="suggestions.length > 0">
          <div class="search-result flex flex-column gap-2">
            <app-search-suggestion
              *ngFor="let suggestion of suggestions; let i = index"
              [suggestion]="suggestion"
            ></app-search-suggestion>
          </div>
        </div>
        <div *ngIf="suggestions.length === 0 && searchInput.value.length > 0 && !isLoading"
          class="px-3">
          <p class="text-gray-500">{{ 'search.no_result_found' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showSearch" class="search__outside" (click)="closeSearch()"></div>
</div>
