$body-bg: rgb(255, 255, 255);
$primary-blue : rgb(0, 149, 246);
$btn-opacity : 0.7;
$input-bg : rgb(250, 250, 250);
$separator-color : rgb(219, 219, 219);
$log-fac: rgb(56, 81, 133);
$forgot-pass : rgb(0, 55, 107);
$black : rgb(38, 38, 38);
$gray-color : rgb(142, 142, 142);
$edit-button : rgb(239, 239, 239);
$gray : rgb(239, 239, 239);

// .search__wrap {
//     position: relative;
//     width: 100%;
//     height: 100vh; 
//   }

.search__outside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none !important;
    z-index: 1;
}

.search_section {
    transition: all 0.5s ease;
    opacity: 0;
    top: 0;
    left: -20em;
    position: fixed;
    background-color: var(--surface-0);
    width: 350px;
    border-right: 1px solid #cccccc;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1099;

    &.show {
        transition: all 0.5s ease;
        opacity: 1 !important;
        left: 15.6em;
    }

    height: 100vh;

    h2 {
        font-size: 25px;
    }

    form {
        border: 1px solid var(--surface-border);
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 1.5em;

        input {
            background: transparent !important;
            font-weight: 300;
            padding: 5px 10px;
            outline: none;
            border: none !important;
            width: 100%;
        }

    }

    .find {
        .desc {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 20px;

            h4 {
                margin: 0;
                font-size: 16px;
            }

            p {
                margin: 0;

                a {
                    font-weight: 500;
                    color: $primary-blue;
                }
            }
        }

        .account {
            .clear {
                a {
                    color: $gray-color;
                }
            }

            // background-color: aqua;
        }
    }
}

::ng-deep body:has(.hide-menu-label) .search_section.show {
    left: 5.4rem;
}

@media screen and (max-width: 992px) {
    .search_section.show {
        left: 5.4em !important;
    }
}

.search__wrap::ng-deep .p-divider.p-divider-horizontal {
    margin: 1.25rem 0;
}

.nav-search-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
}

.search-result ::ng-deep app-search-suggestion {
    transition: all 0.2s ease;
}

.search-result ::ng-deep app-search-suggestion:hover {
    background-color: var(--surface-100);
}

.mobile {
    width: 100%;
    height: calc(100vh - var(--mobile-top-menu-height) - var(--mobile-bottom-menu-height));
    top: var(--mobile-top-menu-height);
    border-radius: 0;
    left: 100%;
}

.mobile.search_section.show {
    left: 0 !important;
}