
<div class="search__wrap">
  <div
    id="search"
    class="search_section flex flex-column"
    (click)="$event.stopPropagation()"
    [class.show]="showSearch"
  >
    <h2 class="font-semibold px-3">Search</h2>
    <form method="post" style="width: calc(100% - 2rem); margin: 0 auto;">
      <input
        type="text"
        placeholder="Search"
        (keyup)="handleKeyup($event)"
        [value]="searchKey"
      />
    </form>

    <p-divider></p-divider>

    <div class="find primary-scrollbar overflow-y-scroll">
      <div class="desc px-3">
        <h4 class="font-semibold mb-0">Recent</h4>
        <p class="cursor-pointer"><a (click)="clickClearInput($event)">Clear all</a></p>
      </div>
      <div class="account">
        <div class="cart">
          <div>
            <div class="img">
              <img src="./images/profile_img.jpg" alt="" />
            </div>
            <div class="info">
              <div *ngIf="suggestions.length > 0">
                <div>
                  <div class="search-result-arrow"></div>
                  <div class="search-result-container">
                    <div class="search-result flex flex-column gap-2">
                      <app-search-suggestion
                        *ngFor="let suggestion of suggestions; let i = index"
                        [suggestion]="suggestion"
                        [imgUrl]="imgUrl"
                        (click)="clickSuggestion($event)"
                      ></app-search-suggestion>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clear">
            <div
              *ngIf="clickInput && dataFetched"
              class="nav-search-clear-icon"
              role="button"
              tabIndex="0"
              (click)="clickClearInput($event)"
            >
              X
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showSearch" class="search__outside" (click)="closeSearch()"></div>
</div>
