<div
  class="main left-menu w-full"
  [ngClass]="{ 'hide-menu-label': isHideMenuLabel }"
>
  <nav class="h-full p-4 md:px-2">
    <ul
      class="flex flex-column align-items-center lg:align-items-start xl:align-items-start gap-4 h-full pl-0 m-0 list-none"
    >
      <!-- Logo -->
      <div class="mobile-hidden logo">
        <li (click)="redirectService.redirectAndReload('/')" class="p-fluid">
          <p-button
            class="logo-big"
            styleClass="shadow-none"
            size="large"
            label="SYNCIO"
            [link]="true"
            [plain]="true"
          />
          <p-button
            class="logo-small hidden"
            styleClass="shadow-none"
            size="large"
            label="S"
            [link]="true"
            [plain]="true"
          />
        </li>
      </div>
      <div class="menu w-full flex flex-column align-items-center lg:align-items-start xl:align-items-start gap-2 pl-0 list-none">
        <li *ngFor="let menu of menus" class="p-fluid w-full">
          <p-button
            [id]="menu.id"
            class="text-left"
            styleClass="shadow-none"
            routerLinkActive="menu-active"
            [routerLink]="menu.routerLink"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onMenuClick(menu)"
            [label]="menu.label"
            [icon]="menu.icon"
            [text]="true"
            [plain]="true"
          />
        </li>
        <!-- Create -->
        <li class="p-fluid w-full" (click)="closeSearchAndNotifications()">
          <p-tieredMenu [model]="createSubmenuItems"
            styleClass="w-full border-none shadow-none">
            <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
              <ng-container *ngIf="item.route; else withoutRoute">
                <a [routerLink]="item.route"
                  [href]="item.href"
                  class="p-menuitem-link">
                  <span [class]="item.icon + ' p-menuitem-icon'"></span>
                  <span class="p-menuitem-text">{{ item.label }}</span>
                </a>
              </ng-container>
              <ng-template #withoutRoute>
                <ng-container *ngIf="item.url; else withoutUrl">
                  <a [href]="item.url"
                    [target]="item.target"
                    class="p-menuitem-link">
                    <span [class]="item.icon + ' p-menuitem-icon'"></span>
                    <span class="p-menuitem-text">{{ item.label }}</span>
                    <span
                      *ngIf="hasSubmenu"
                      class="pi pi-angle-right ml-auto"
                    ></span>
                  </a>
                </ng-container>
                <ng-template #withoutUrl>
                  <a class="p-menuitem-link">
                    <span [class]="item.icon + ' p-menuitem-icon'"></span>
                    <span class="p-menuitem-text">{{ item.label }}</span>
                    <span
                      *ngIf="hasSubmenu"
                      class="pi pi-angle-right ml-auto"
                    ></span>
                  </a>
                </ng-template>
              </ng-template>
            </ng-template>
          </p-tieredMenu>
        </li>
        <!-- Profile -->
        <li class="p-fluid w-full" (click)="closeSearchAndNotifications()">
          <!-- Not logged in -->
          <p-button *ngIf="!currentUserId" 
            [id]="'ProfileButton'" class="text-left" styleClass="shadow-none" [text]="true" [plain]="true"
            [icon]="'pi pi-user'" [label]="'left_menu.login' | translate"
            [routerLink]="['login']" />
          <!-- Logged in -->
          <div>
            <p-button *ngIf="currentUserId" 
                      [id]="'ProfileButton'" class="text-left profile-button" styleClass="shadow-none" [text]="true" [plain]="true"
                      routerLinkActive="menu-active"
                      [routerLink]="['profile', currentUserId]">
                <app-avatar class="avatar" [userId]="currentUserId" [width]="32" style="margin-right: 4px;"></app-avatar>
                <span class="p-button-label flex-none">{{ currentUsername }}</span>
                <app-username-label class="user-label" [userId]="currentUserId" [username]="" [fontWeight]="" [fontSize]=""></app-username-label>
            </p-button>
          </div>
        </li>
      </div>
      <!-- Setting -->
      <div class="setting p-fluid w-full sm:mt-auto mt-0 mobile-hidden" (click)="closeSearchAndNotifications()">
        <p-tieredMenu [model]="settingSubmenuItems"
            styleClass="w-full border-none shadow-none">
            <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
              <ng-container *ngIf="item.route; else withoutRoute">
                <a [routerLink]="item.route"
                  [href]="item.href"
                  class="p-menuitem-link">
                  <span [class]="item.icon + ' p-menuitem-icon'" [ngStyle]="{ 'color': item.color }"></span>
                  <span class="p-menuitem-text" [ngStyle]="{ 'color': item.color }">{{ item.label }}</span>
                </a>
              </ng-container>
              <ng-template #withoutRoute>
                <ng-container *ngIf="item.url; else withoutUrl">
                  <a [href]="item.url"
                    [target]="item.target"
                    class="p-menuitem-link">
                    <span [class]="item.icon + ' p-menuitem-icon'" [ngStyle]="{ 'color': item.color }"></span>
                    <span class="p-menuitem-text" [ngStyle]="{ 'color': item.color }">{{ item.label }}</span>
                    <span
                      *ngIf="hasSubmenu"
                      class="pi pi-angle-right ml-auto"
                    ></span>
                  </a>
                </ng-container>
                <ng-template #withoutUrl>
                  <a class="p-menuitem-link">
                    <span [class]="item.icon + ' p-menuitem-icon'" [ngStyle]="{ 'color': item.color }"></span>
                    <span class="p-menuitem-text" [ngStyle]="{ 'color': item.color }">{{ item.label }}</span>
                    <span
                      *ngIf="hasSubmenu"
                      class="pi pi-angle-right ml-auto"
                    ></span>
                  </a>
                </ng-template>
              </ng-template>
            </ng-template>
          </p-tieredMenu>
      </div>
    </ul>
  </nav>

  <app-create-post></app-create-post>

</div>


<!-- Report A Problem Dialog -->
<app-user-report 
  [isVisibleReportAProblem]="isVisibleReportAProblem"
  (visibleChange)="isVisibleReportAProblem = $event"
></app-user-report>
