p-dialog ::ng-deep {
  .p-dialog {
    max-height: 400px;
    min-height: 200px;
  }

  .p-dialog-header {
    padding: 0.75rem 1rem;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid var(--surface-300);
  }

  .p-dialog-title {
    font-size: 1rem;
    font-weight: 600;
  }

  .p-dialog-header-close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .p-dialog-content {
    padding: 0;
    overflow-y: scroll;
  }
}

p-divider ::ng-deep {
  .p-divider {
    margin: 0;
  }
}