<main>
  <!-- header desktop -->
  <header *ngIf="!isMobile" class="flex align-items-center gap-6 ml-6">
    <!-- Avatar -->
    <div [title]="'profile.upload_avatar' | translate" class="border-circle overflow-hidden" style="width: 164px; height: 164px;">
      <input
        *ngIf="isOwnerProfile"
        #fileInput
        type="file"
        style="display: none"
        accept="image/*"
        (change)="onFileSelected($event)" />
      <button 
        (click)="triggerFileInputClick()" 
        class="border-none p-0 outline-none cursor-pointer" 
        style="background: none;">
        <app-avatar [userId]="userProfile.id" [width]="164" [userStory]="userStory"></app-avatar>
      </button>
    </div>

    <!-- Right side -->
    <section class="flex flex-column gap-3">
      <div class="flex align-items-center gap-3">
        <!-- Username -->
        <!-- <h1 class="font-normal text-2xl my-0 mr-3">{{ userProfile.username }}</h1> -->
        <app-username-label 
          [userId]="userProfile.id"
          [username]="userProfile.username"
          [fontSize]="'1.5rem'"
          [color]="''">
        </app-username-label>
        <!-- Follow button -->
        <p-button *ngIf="!isOwnerProfile && !userProfile.isFollowing"
          (click)="toggleFollow(userProfile.id)" 
          [label]="'profile.follow' | translate" severity="my-custom-primary">
        </p-button>
        <!-- Unfollow button -->
        <p-button *ngIf="!isOwnerProfile && userProfile.isFollowing"
          (click)="dialogVisible = !dialogVisible" 
          icon="pi pi-angle-down" iconPos="right"
          [label]="'profile.unfollow' | translate" severity="my-custom-secondary">
        </p-button>
        <!-- Message -->
        <a *ngIf="!isOwnerProfile" [href]="currentUserId ? '/messages' : '/login'">
          <p-button [label]="'profile.messages' | translate" severity="my-custom-secondary"></p-button>
        </a>
        <!-- Edit profile/ Setting -->
        <ng-container *ngIf="isOwnerProfile">
          <!-- Edit profile -->
          <div *ngIf="isOwnerProfile" routerLink="/account/edit-profile">
            <p-button [label]="'profile.edit_profile' | translate" severity="my-custom-secondary"></p-button>
          </div>
          <!-- choose Label -->
          <p-button class="ml-2"
            (click)="showChooseLabelDialog()" 
            [label]="'profile.choose_label' | translate" severity="my-custom-primary">
          </p-button>

          <!-- Setting -->
          <i *ngIf="isOwnerProfile" routerLink="/account/edit-profile" class="pi pi-cog cursor-pointer" style="font-size: 1.5rem"></i>
        </ng-container>
      </div>

      <!-- Count section -->
      <ul class="flex align-items-center gap-4 list-none pl-0 m-0">
        <!-- posts -->
        <li class="lowercase"><span class="font-semibold">{{ userProfile.postCount }}</span> {{'profile.posts' | translate}}</li>
        <!-- followers -->
        <li (click)="currentUserId && userProfile.followerCount > 0 ? isVisibleFollowers = true : ''"
          [ngClass]="currentUserId && userProfile.followerCount > 0 ? 'cursor-pointer lowercase' : 'lowercase'">
          <span class="font-semibold">{{ userProfile.followerCount }}</span> {{userProfile.followerCount > 1 ? ('profile.followers' | translate) : ('profile.follower' | translate)}}
        </li>
        <!-- following -->
        <li (click)="currentUserId && userProfile.followingCount > 0 ? isVisibleFollowing = true: ''"
          [ngClass]="currentUserId && userProfile.followingCount > 0 ? 'cursor-pointer lowercase' : 'lowercase'">
          <span class="font-semibold">{{ userProfile.followingCount }}</span> {{userProfile.followingCount > 1 ? ('profile.followings' | translate) : ('profile.following' | translate)}}
        </li>
      </ul>

      <!-- Bio -->
      <div *ngIf="userProfile.bio" class="intro">
        <span>{{ userProfile.bio }}</span>
      </div>
    </section>
  </header>

  <!-- header mobile -->
  <header *ngIf="isMobile" class="px-2 flex flex-column gap-3">
    <div class="flex align-items-center column-gap-3">
      <!-- Avatar -->
      <div [title]="'profile.upload_avatar' | translate" class="border-circle overflow-hidden" style="min-width: 96px; height: 96px;">
        <input
        *ngIf="isOwnerProfile"
          #fileInput
          type="file"
          style="display: none"
          accept="image/*"
          (change)="onFileSelected($event)" />
        <button (click)="triggerFileInputClick()" 
          class="border-none p-0 outline-none cursor-pointer" 
          style="background: none;">
          <app-avatar [userId]="userProfile.id" [width]="96" [userStory]="userStory"></app-avatar>
        </button>
      </div>

      <!-- Right side -->
      <section class="flex flex-column gap-3">
        <div class="flex align-items-center gap-3">
          <!-- Username -->
          <app-username-label 
            [userId]="userProfile.id"
            [username]="userProfile.username"
            [fontSize]="'1.5rem'"
            [color]="''">
          </app-username-label>
        </div>

        <!-- Count section -->
        <ul class="flex align-items-center gap-4 list-none pl-0 m-0">
          <!-- posts -->
          <li class="lowercase">
            <span class="font-semibold">{{ userProfile.postCount }}</span>
            <span class="line-clamp">{{'profile.posts' | translate}}</span>
          </li>
          <!-- followers -->
          <li (click)="currentUserId && userProfile.followerCount > 0 ? isVisibleFollowers = true : ''"
            [ngClass]="currentUserId && userProfile.followerCount > 0 ? 'cursor-pointer lowercase' : 'lowercase'">
            <span class="font-semibold">{{ userProfile.followerCount }}</span>
            <span class="line-clamp">{{'profile.followers' | translate}}</span>
          </li>
          <!-- following -->
          <li (click)="currentUserId && userProfile.followingCount > 0 ? isVisibleFollowing = true: ''"
            [ngClass]="currentUserId && userProfile.followingCount > 0 ? 'cursor-pointer lowercase' : 'lowercase'">
            <span class="font-semibold">{{ userProfile.followingCount }}</span> 
            <span class="line-clamp">{{'profile.following' | translate}}</span>
          </li>
        </ul>
      </section>
    </div>

    <!-- button list -->
     <div class="flex gap-2 flex-column mt-2">
        <!-- Bio -->
        <div *ngIf="userProfile.bio" class="intro">
          <span>{{ userProfile.bio }}</span>
        </div>
        <div class="flex align-items-center gap-2 mt-2">
          <!-- Follow button -->
          <p-button *ngIf="!isOwnerProfile && !userProfile.isFollowing"
            (click)="toggleFollow(userProfile.id)" 
            [label]="'profile.follow' | translate" severity="my-custom-primary"
            class="flex-1"
            styleClass="w-full">
          </p-button>
          <!-- Unfollow button -->
          <p-button *ngIf="!isOwnerProfile && userProfile.isFollowing"
            (click)="dialogVisible = !dialogVisible" 
            icon="pi pi-angle-down" iconPos="right"
            [label]="'profile.unfollow' | translate" severity="my-custom-secondary"
            class="flex-1"
            styleClass="w-full">
          </p-button>
          <!-- Message -->
          <a *ngIf="!isOwnerProfile" href="/messages" class="flex-1">
            <p-button [label]="'profile.messages' | translate" severity="my-custom-secondary" styleClass="w-full"></p-button>
          </a>
          <!-- Edit profile/ Setting -->
          <ng-container *ngIf="isOwnerProfile">
            <!-- Edit profile -->
            <div *ngIf="isOwnerProfile" routerLink="/account/edit-profile" class="flex-1">
              <p-button [label]="'profile.edit_profile' | translate" severity="my-custom-secondary" styleClass="w-full"></p-button>
            </div>
            <!-- choose Label -->
            <p-button class="ml-2 flex-1" styleClass="w-full"
              (click)="showChooseLabelDialog()" 
              [label]="'profile.choose_label' | translate" severity="my-custom-primary">
            </p-button>
    
            <!-- Setting -->
            <i *ngIf="isOwnerProfile" routerLink="/account/edit-profile" class="pi pi-cog cursor-pointer" style="font-size: 1.5rem"></i>
          </ng-container>
          </div>
     </div>
  </header>
  
  <div class="border-top-1 border-gray-300 mt-6 flex justify-content-center align-items-center gap-4">
    <!-- POSTS -->
    <div (click)="selectTab(0)" [ngStyle]="{'border-top': selectedTab == 0 ? '1px solid' : ''}" title="View mode" class="transition-duration-200 py-3 flex justify-content-center align-items-center cursor-pointer">
      <i class="pi pi-table mr-1" style="font-size: 1rem"></i>
      <span class="text-xs font-semibold uppercase">{{'profile.posts' | translate}}</span>
    </div>
    <!-- COLLECTIONS -->
    <div (click)="selectTab(1)" [ngStyle]="{'border-top': selectedTab == 1 ? '1px solid' : ''}" class="transition-duration-200 py-3 flex justify-content-center align-items-center cursor-pointer">
      <i class="pi pi-objects-column mr-1" style="font-size: 1rem"></i>
      <span class="text-xs font-semibold uppercase">{{'profile.collections' | translate}}</span>
    </div>
  </div>

  <!-- Post list -->
  <div [ngClass]="{'hidden': selectedTab != 0}" class="content">
    <app-post-list 
      [userProfileId]="profileId"
      [currentUserId]="currentUserId"
      [viewMode]="viewMode"
      [sortMode]="sortMode"
      (showPostDetailEvent)="handleShowPostDetail(true, $event)">
    </app-post-list>
  </div>
  <!-- Collection list -->
  <div [ngClass]="{'hidden': selectedTab != 1}" class="content">
    <app-collection-grid 
      [userProfileId]="profileId"
      [currentUserId]="currentUserId">
    </app-collection-grid>
  </div>
</main>

<!-- Unfollow dialog -->
<app-global-dialog
  [display]="dialogVisible"
  [items]="dialogItems"
  (displayChange)="dialogVisible = false">
</app-global-dialog>

<!-- Post Detail popup -->
<app-post-detail
  *ngIf="visible"
  [post]="post"
  [visible]="visible"
  (visibleChange)="showPostDetail($event)"
  style="position: relative; z-index: 1102;">
</app-post-detail>

<!-- Follower dialog -->
<app-follower-dialog
  [userProfile]="userProfile"
  [isVisibleFollowers]="isVisibleFollowers"
  (onHide)="isVisibleFollowers = false"
  (onFollow)="sendFollowNotification($event)"
  (updateFollowerCount)="userProfile.followerCount = $event"
  (updateFollowingCount)="userProfile.followingCount = $event">
</app-follower-dialog>

<!-- Following dialog -->
<app-following-dialog
  [userProfile]="userProfile"
  [isVisibleFollowing]="isVisibleFollowing"
  (onHide)="isVisibleFollowing = false"
  (onFollow)="sendFollowNotification($event)"
  (updateFollowingCount)="userProfile.followingCount = $event">
</app-following-dialog>

<!-- Choose Label -->
<p-dialog [(visible)]="chooseLableDialog" [style]="{ width: '62rem' }" [header]="'profile.choose_label' | translate" [modal]="true"
styleClass="p-fluid">
      <p-dataView #dv [value]="userLabelInfos" >
        <ng-template let-userLabelInfo pTemplate="listItem">
          <div class="col-12 lg:col-4 sm:col-4 xl:col-3 p-2">
            <div class="p-4 border-1 surface-border surface-card border-round">
              <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                <span class="flex align-items-center gap-2">
                  <i class="pi pi-tag"></i>
                  <span class="font-semibold">{{ userLabelInfo.type }}</span>
                </span>
              </div>
              <div class="flex flex-column align-items-center gap-3 py-5">
                <img class="w-9 shadow-2 border-round" [src]="imageUtils.getImageURL(userLabelInfo.labelURL)" width="150"
                  height="150" [alt]="userLabelInfo.name" />
                <div class="text-lg font-bold">{{ userLabelInfo.name }}</div>
              </div>
              
              <div class="card flex justify-content-center">
                <p-button [label]="'common.cancel' | translate" (click)="confirm(userLabelInfo)" *ngIf="userLabelInfo.isShow" icon="pi pi-times" severity="secondary" [rounded]="true"></p-button>
                <p-button [label]="'common.confirm' | translate" (click)="confirm(userLabelInfo)" *ngIf="!userLabelInfo.isShow" [rounded]="true"></p-button>
            </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
</p-dialog>

<p-dialog
  [(visible)]="qrCodeDialogVisible"
  [modal]="true"
  header="QR Code"
  (onHide)="qrCodeDialogVisible = false"
  [style]="{ width: '40vw', minWidth: '320px' }"
  class="qr-code">
  <div class="text-center">
    <p class="my-0">QR code helps people follow others easily.</p>
    <p class="mb-3 mt-0">People can scan QR code with their smartphone’s camera to see others’ profile.</p>
    <img [src]="qrCodeUrl" alt="QR Code" style="width: 80%; max-width: 280px; height: auto; display: block; margin: auto;" />
    <!-- <button (click)="downloadQRCode()" class="surface-100 px-3 py-2 border-round border-none outline-none cursor-pointer">Download QR Code</button> -->
  </div>
</p-dialog>


<!-- View and sort -->
<p-dialog
  class="viewmode-dialog"
  [header]="'profile.view_mode' | translate"
  [modal]="true"
  [(visible)]="isVisibleChooseViewMode"
  [dismissableMask]="true"
  [style]="{ width: '24rem' }">

  <p-divider></p-divider>
  
  <div class="modal-content p-3">
    <!-- view -->
    <span class="block mb-2 mt-2 text-gray-500 text-sm">{{'profile.view_mode' | translate}}</span>

    <div *ngFor="let option of viewOptions" class="field-checkbox mb-2">
      <p-radioButton 
        [inputId]="option.id"
        name="view" 
        [value]="option.id" 
        [(ngModel)]="viewMode" />
      <label [for]="option.id" class="gap-1 flex align-items-center cursor-pointer">
        <p-button class="close-friend" [icon]="option.icon" [text]="true" severity="secondary" size="small" />
        {{ option.label }}
      </label>
    </div>

    <!-- sorting -->
    <span class="block mb-2 mt-3 text-gray-500 text-sm">{{'profile.sort' | translate}}</span>

    <div *ngFor="let option of sortOptions" class="field-checkbox mb-2">
      <p-radioButton 
        [inputId]="option.id"
        name="sort" 
        [value]="option.value" 
        [(ngModel)]="sortMode" />
      <label [for]="option.id" class="gap-1 flex align-items-center cursor-pointer">
        <p-button class="close-friend" [icon]="option.icon" [text]="true" severity="secondary" size="small" />
        {{ option.label }}
      </label>
    </div>
  </div>
</p-dialog>
