<a href="{{ '/profile/' + suggestion.id }}" class="search-result-a px-3">
  <div class="search-result-row">
    <div class="search-result-photo">
      <canvas height="42" width="42"></canvas>
      <span>
        <app-avatar [userId]="suggestion.id" [width]="32"></app-avatar>
      </span>
    </div>
    <div class="search-result-label">
      <div class="search-result-userid">
        <span>
          <app-username-label 
            [userId]="suggestion.id"
            [username]="suggestion.username"
            [fontSize]="'13px'"
            [fontWeight]="'bold'"
            [color]="'black'">
        </app-username-label>
      </span>
      </div>
      <!-- Conditional display for followers count or 'Suggest for you' -->
      <span
        *ngIf="suggestion.followerCount; else suggestForYou"
        class="search-result-username"
      >
        {{ suggestion.followerCount }} followers
      </span>
      <ng-template #suggestForYou
        ><span class="search-result-username"
          >Suggest for you</span
        ></ng-template
      >
    </div>
  </div>
</a>
