<a href="{{ '/profile/' + suggestion.id }}" class="search-result-a px-3">
  <div class="search-result-row">
    <div class="search-result-photo">
      <span>
        <app-avatar [userId]="suggestion.id" [width]="40"></app-avatar>
      </span>
    </div>
    <div class="search-result-label">
      <div class="search-result-userid">
        <span>
          <app-username-label 
            [userId]="suggestion.id"
            [username]="suggestion.username"
            [fontSize]="'13px'"
            [fontWeight]="'bold'"
            [color]="'initial'">
        </app-username-label>
      </span>
      </div>
      <!-- Conditional display for followers count or 'Suggest for you' -->
      <span
        *ngIf="suggestion.followerCount; else suggestForYou"
        class="search-result-username"
      >
        {{ suggestion.followerCount }} {{ (suggestion.followerCount > 1 ? ('search_suggestion.follower_other' | translate) : ('search_suggestion.follower_one' | translate)) }}
      </span>
      <ng-template #suggestForYou
        ><span class="search-result-username"
          >{{ 'search_suggestion.suggest_for_you' | translate }}</span
        ></ng-template
      >
    </div>
  </div>
</a>
