<div class="wrapper flex gap-4 align-items-start">
  <!-- Sticker group -->
  <div class="col-4 p-0">
    <!-- Tool bar -->
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <!-- New -->
        <p-button (click)="newStickerGroup()" icon="pi pi-plus" class="mr-2"/>
        <!-- Edit -->
        <p-button (click)="editStickerGroup()" [disabled]="!selectedStickerGroup || !selectedStickerGroup.id" icon="pi pi-pencil" />
      </div>
    </p-toolbar>
  
    <!-- Sticker group table -->
    <p-table [value]="stickerGroups" 
      selectionMode="single" 
      [(selection)]="selectedStickerGroup"
      (onRowSelect)="onStickerGroupSelect($event)"
      dataKey="id"
      styleClass="p-0">
      <!-- Header -->
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Flag</th>
        </tr>
      </ng-template>
      <!-- Body -->
      <ng-template pTemplate="body" let-stickerGroup>
        <tr [pSelectableRow]="stickerGroup">
          <td>{{ stickerGroup.id }}</td>
          <td>{{ stickerGroup.name }}</td>
          <td><i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': stickerGroup.flag, 'text-red-500 pi-times-circle': !stickerGroup.flag }"></i></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No sticker group found.</td>
        </tr>
       </ng-template>
    </p-table>
  </div>

  <!-- Sticker -->
  <div class="col-8 p-0">
    <!-- Tool bar -->
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <!-- New -->
        <p-button [disabled]="!selectedStickerGroup || !selectedStickerGroup.id" (click)="newSticker()" icon="pi pi-plus" class="mr-2"/>
      </div>
    </p-toolbar>
  
    <!-- Stickers table -->
    <p-table *ngIf="selectedStickerGroup && selectedStickerGroup.stickers"
      #stickerTable
      [value]="selectedStickerGroup.stickers"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['name']"
      [rowHover]="true"
      dataKey="id"
      [showCurrentPageReport]="true"
      styleClass="p-0"
      class="stickers">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <!-- Search -->
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input #search
              pInputText 
              type="text" 
              (input)="stickerTable.filterGlobal(search.value, 'contains')" 
              placeholder="Search..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <!-- Header title -->
        <tr>
          <th pSortableColumn="name" style="min-width:10rem">Name<p-sortIcon field="name" /></th>
          <th style="width: 6rem;">Image</th>
          <th style="width: 5rem;">Flag</th>
          <th>Created By</th>
          <th pSortableColumn="createdDate">Created Date <p-sortIcon field="createdDate" /></th>
        </tr>
        <!-- Header filter -->
        <tr>
          <th></th>
          <th></th>
          <th><p-columnFilter type="boolean" field="flag"></p-columnFilter></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <!-- Body -->
      <ng-template pTemplate="body" let-sticker>
        <tr (dblclick)="onStickerSelect(sticker)">
          <td>{{ sticker.name }}</td>
          <td style="width: 6rem;">
            <img *ngIf="sticker.id" 
              [src]="sticker.imageUrl | constructImageUrl"
              onerror="this.onerror=null; this.src='assets/images/no-image-available.jpg';"
              [alt]="sticker.name" 
              width="50" 
              class="shadow-4" />
          </td>
          <td style="width: 5rem;">
            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': sticker.flag, 'text-red-500 pi-times-circle': !sticker.flag }"></i>
          </td>
          <td>{{ sticker.createdBy | userIdToName | async }}</td>
          <td>{{ sticker.createdDate | date:'HH:mm:ss dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>
  </p-table>
  </div>
</div>



<!-- Dialog Sticker Group -->
<p-dialog header="Sticker Group" 
  *ngIf="selectedStickerGroup"
  [modal]="true" 
  [(visible)]="isStickerGroupDialogVisible" 
  [style]="{ width: '40vw' }">
  <!-- ID -->
  <div *ngIf="selectedStickerGroup.id" class="flex align-items-center gap-3 mb-3">
      <label for="id" class="font-semibold w-10rem">ID</label>
      <input [(ngModel)]="selectedStickerGroup.id" [disabled]="true" pInputText id="id" class="flex-auto" autocomplete="off" />
  </div>
  <!-- Name -->
  <div class="flex align-items-center gap-3 mb-3">
      <label for="name" class="font-semibold w-10rem">Name</label>
      <input [ngModel]="selectedStickerGroup.name"
        (ngModelChange)="selectedStickerGroup.name = $event.trim()"
        pInputText id="name" class="flex-auto" autocomplete="off" />
  </div>
  <!-- Flag -->
  <div class="flex align-items-center gap-3 mb-3">
      <label for="flag" class="font-semibold w-10rem">Status</label>
      <p-inputSwitch [(ngModel)]="selectedStickerGroup.flag" name="flag" ngDefaultControl />
  </div>
  <!-- Created By -->
  <div *ngIf="selectedStickerGroup.createdBy" class="flex align-items-center gap-3 mb-3">
      <label for="createdBy" class="font-semibold w-10rem">Created By</label>
      <input [ngModel]="selectedStickerGroup.createdBy | userIdToName | async"
        (ngModelChange)="selectedStickerGroup.createdBy = $event"
        [disabled]="true" pInputText id="createdBy" class="flex-auto" autocomplete="off" />
  </div>
  <!-- Created Date -->
  <div *ngIf="selectedStickerGroup.createdDate" class="flex align-items-center gap-3 mb-5">
      <label for="createdDate" class="font-semibold w-10rem">Created Date</label>
      <input [ngModel]="selectedStickerGroup.createdDate | date:'HH:mm:ss dd/MM/yyyy'" 
        (ngModelChange)="selectedStickerGroup.createdDate = $event"
        [disabled]="true" pInputText id="createdDate" class="flex-auto" autocomplete="off" />
  </div>
  <!-- Action -->
  <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="isStickerGroupDialogVisible = false" />
      <p-button [disabled]="!selectedStickerGroup.name || selectedStickerGroup.name.trim().length === 0" label="Save" (click)="saveStickerGroup()" />
  </div>
</p-dialog>



<!-- Dialog Sticker -->
<p-dialog header="Sticker " 
  [modal]="true" 
  [(visible)]="isStickerDialogVisible" 
  [style]="{ width: '40vw' }"
  (onHide)="this.selectedSticker = {}">
  <!-- Image -->
  <div class="mb-4 text-center">
    <img *ngIf="selectedSticker.imageUrl"
      [src]="selectedSticker.imageUrl | constructImageUrl"
      onerror="this.onerror=null; this.src='assets/images/no-image-available.jpg';"
      [alt]="selectedSticker.name" 
      width="50" 
      class="shadow-4" />
    <p-fileUpload *ngIf="!selectedSticker.id"
      mode="basic" 
      chooseLabel="Choose" 
      chooseIcon="pi pi-upload"
      accept="image/*" 
      [maxFileSize]="1000000" 
      (onSelect)="onSelectStickerImage($event)" />
  </div>
  <!-- ID -->
  <div *ngIf="selectedSticker.id" class="flex align-items-center gap-3 mb-3">
    <label for="id" class="font-semibold w-10rem">ID</label>
    <input [(ngModel)]="selectedSticker.id" [disabled]="true" pInputText id="id" class="flex-auto" autocomplete="off" />
  </div>
  <!-- Name -->
  <div class="flex align-items-center gap-3 mb-3">
    <label for="name" class="font-semibold w-10rem">Name</label>
    <input [ngModel]="selectedSticker.name"
      (ngModelChange)="selectedSticker.name = $event.trim()"
      pInputText id="name" class="flex-auto" autocomplete="off" autofocus />
  </div>
  <!-- Flag -->
  <div class="flex align-items-center gap-3 mb-3">
      <label for="flag" class="font-semibold w-10rem">Status</label>
      <p-inputSwitch [(ngModel)]="selectedSticker.flag" name="flag" ngDefaultControl />
  </div>
  <!-- Created By -->
  <div *ngIf="selectedSticker.createdBy" class="flex align-items-center gap-3 mb-3">
    <label for="createdBy" class="font-semibold w-10rem">Created By</label>
    <input [ngModel]="selectedSticker.createdBy | userIdToName | async"
      (ngModelChange)="selectedSticker.createdBy = $event"
      [disabled]="true" pInputText id="createdBy" class="flex-auto" autocomplete="off" />
  </div>
  <!-- Created Date -->
  <div *ngIf="selectedSticker.createdDate" class="flex align-items-center gap-3 mb-5">
    <label for="createdDate" class="font-semibold w-10rem">Created Date</label>
    <input [ngModel]="selectedSticker.createdDate | date:'HH:mm:ss dd/MM/yyyy'" 
      (ngModelChange)="selectedSticker.createdDate = $event"
      [disabled]="true" pInputText id="createdDate" class="flex-auto" autocomplete="off" />
  </div>
  <!-- Action -->
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="isStickerDialogVisible = false" />
    <p-button (click)="saveSticker()" [disabled]="(!selectedStickerImage && !selectedSticker.id) || !selectedSticker.name || selectedSticker.name.trim().length === 0" label="Save" />
  </div>
</p-dialog>