<div (click)="router.navigateByUrl(notification.redirectURL || '')" 
  [ngSwitch]="notification.actionType"
  class="p-3"
  [ngClass]="notification.state != StateEnum.SEEN_AND_READ ? 'not-seen-and-read' : ''">

  <!-- LIKE_POST -->
  <div *ngSwitchCase="ActionEnum.LIKE_POST"
    class="flex align-items-center gap-1">

    <!-- Actor avatar -->
    <app-avatar [userId]="notification.actorId" [width]="48"></app-avatar>

    <div class="flex-1">
      <div class="line-clamp-2 text-sm">
        <!-- Actor username -->
        <span *ngIf="notification.actorId" class="font-semibold">
          {{notification.actorId | userIdToName | async}}
        </span>
    
        <!-- Others count if there are more than one actor -->
        <span *ngIf="notification.actorCount && notification.actorCount > 1">
          {{ 'notifications_item.and' | translate }} {{notification.actorCount - 1}} {{ (notification.actorCount - 1 > 1 ? ('notifications_item.other_other' | translate) : ('notifications_item.other_one' | translate) ) }}
        </span>
        
        <!-- Action -->
        <span>{{ 'notifications_item.liked_your_post' | translate }}{{notification.previewText ? ': ' : ''}}</span>

        <!-- if post has caption(previewText), show : caption -->
        <span *ngIf="notification.previewText" [innerHTML]="notification.previewText | tagToLink | async"></span>
        <!-- If post doesn't have caption, show dot -->
        <span *ngIf="!notification.previewText">.</span>
      </div>

      <!-- Created date -->
      <small class="ml-1 text-xs text-gray-500">{{notification.createdDate | dateAgoPipe}}</small>
    
    </div>

    <!-- First photo of the post if it exists  -->
    <img *ngIf="notification.imageURL && !isVideo(notification.imageURL)" [src]="notification.imageURL | constructImageUrl" style="width: 48px; height: 49px; object-fit: cover;">
  </div>


  <!-- COMMENT_POST -->
  <div *ngSwitchCase="ActionEnum.COMMENT_POST"
    class="flex align-items-center gap-1">

    <!-- Actor avatar -->
    <app-avatar [userId]="notification.actorId" [width]="48"></app-avatar>

    <div class="flex-1">
      <div class="line-clamp-2 text-sm">
        <!-- Actor username -->
        <span *ngIf="notification.actorId" class="font-semibold">
          {{notification.actorId | userIdToName | async}}
        </span>
    
        <!-- Others count if there are more than one actor -->
        <span *ngIf="notification.actorCount && notification.actorCount > 1">
          {{ 'notifications_item.and' | translate }} {{notification.actorCount - 1}} {{ (notification.actorCount - 1 > 1 ? 'notifications_item.other_other' : 'notifications_item.other_one' ) | translate }}
        </span>
        
        <!-- Action -->
        <span> {{ 'notifications_item.commented_on_your_post' | translate }}{{notification.previewText ? ': ' : ''}}</span>

        <!-- if has comment.text(previewText), show : comment.text -->
        <span *ngIf="notification.previewText" [innerHTML]="notification.previewText | tagToLink | async"></span>
        <!-- If post doesn't have caption, show dot -->
        <span *ngIf="!notification.previewText">.</span>
      </div>

      <!-- Created date -->
      <small class="ml-1 text-xs text-gray-500">{{notification.createdDate | dateAgoPipe}}</small>
    
    </div>

    <!-- First photo of the post if it exists  -->
    <img *ngIf="notification.imageURL && !isVideo(notification.imageURL)" [src]="notification.imageURL | constructImageUrl" style="width: 48px; height: 49px; object-fit: cover;">
  </div>


  <!-- COMMENT_REPLY -->
  <div *ngSwitchCase="ActionEnum.COMMENT_REPLY"
    class="flex align-items-center gap-1">

    <!-- Actor avatar -->
    <app-avatar [userId]="notification.actorId" [width]="48"></app-avatar>

    <div class="flex-1">
      <div class="line-clamp-2 text-sm">
        <!-- Actor username -->
        <span *ngIf="notification.actorId" class="font-semibold">
          {{notification.actorId | userIdToName | async}}
        </span>
    
        <!-- Others count if there are more than one actor -->
        <span *ngIf="notification.actorCount && notification.actorCount > 1">
          {{ 'notifications_item.and' | translate }} {{notification.actorCount - 1}} {{ (notification.actorCount - 1 > 1 ? 'notifications_item.other.other' : 'notifications_item.other.one' ) | translate }}
        </span>
        
        <!-- Action -->
        <span> {{ 'notifications_item.replied_to_your_comment' | translate }}{{notification.previewText ? ': ' : ''}}</span>
  
        <!-- if has comment.text(previewText), show : comment.text -->
        <span *ngIf="notification.previewText" [innerHTML]="notification.previewText | tagToLink | async"></span>
        <!-- If post doesn't have caption, show dot -->
        <span *ngIf="!notification.previewText">.</span>
      </div>

      <!-- Created date -->
      <small class="ml-1 text-xs text-gray-500">{{notification.createdDate | dateAgoPipe}}</small>
    
    </div>

    <!-- First photo of the post if it exists  -->
    <img *ngIf="notification.imageURL && !isVideo(notification.imageURL)" [src]="notification.imageURL | constructImageUrl" style="width: 48px; height: 49px; object-fit: cover;">
  </div>

  <!-- FOLLOW -->
  <div *ngSwitchCase="ActionEnum.FOLLOW"
    class="flex align-items-center gap-1">

    <!-- Actor avatar -->
    <app-avatar [userId]="notification.actorId" [width]="48"></app-avatar>

    <div class="flex-1">
      <div class="line-clamp-2 text-sm">
        <!-- Actor username -->
        <span *ngIf="notification.actorId" class="font-semibold">
          {{notification.actorId | userIdToName | async}}
        </span>
    
        <!-- Action -->
        <span> {{ 'notifications_item.started_following_you' | translate }}.</span>
      </div>

      <!-- Created date -->
      <small class="ml-1 text-xs text-gray-500">{{notification.createdDate | dateAgoPipe}}</small>
    
    </div>
  </div>

  <!-- POST_TAG -->
  <div *ngSwitchCase="ActionEnum.POST_TAG"
    class="flex align-items-center gap-1">

    <!-- Actor avatar -->
    <app-avatar [userId]="notification.actorId" [width]="48"></app-avatar>

    <div class="flex-1">
      <div class="line-clamp-2 text-sm">
        <!-- Actor username -->
        <span *ngIf="notification.actorId" class="font-semibold">
          {{notification.actorId | userIdToName | async}}
        </span>
        
        <!-- Action -->
        <span> {{ 'notifications_item.tagged_you_in_a_post' | translate }}.</span>
      </div>

      <!-- Created date -->
      <small class="ml-1 text-xs text-gray-500">{{notification.createdDate | dateAgoPipe}}</small>
    
    </div>

    <!-- First photo of the post if it exists  -->
    <img *ngIf="notification.imageURL && !isVideo(notification.imageURL)" [src]="notification.imageURL | constructImageUrl" style="width: 48px; height: 49px; object-fit: cover;">
  </div>

</div>

