<div class="wrapper">
  <div class="form flex col-8 p-0 bg-white align-items-stretch shadow-1">
    <div *ngIf="isLoading" class="overlay">
      <div class="spinner"></div>
    </div>
    <!-- Left form -->
    <form
      class="col-6 flex flex-column gap-5 justify-content-center align-items-center"
    >
      <h1>Sign up</h1>
      <div class="flex flex-column gap-3 w-full">
        <!-- Email -->
        <div class="w-full">
          <input
            type="email"
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
          />
        </div>
        <!-- Username -->
        <div class="w-full">
          <input
            type="text"
            [(ngModel)]="username"
            name="username"
            placeholder="Username"
          />
        </div>
        <!-- Password -->
        <div class="w-full">
          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
          />
        </div>
        <!-- Confirm Password -->
        <div class="w-full">
          <input
            type="password"
            placeholder="Confirm password"
            [(ngModel)]="retypePassword"
            name="retypePassword"
          />
        </div>
      </div>
      <!-- Submit -->
      <p-button
        (click)="register()"
        label="Sign up"
        class="w-full"
        styleClass="w-full"
      />
      <!-- Login link -->
      <div>
        <p routerLink="/login" class="text-center cursor-pointer text-sm mt-2">
          Have an account? <span class="text-primary font-bold">Log in</span>
        </p>
        <p routerLink="/" class="text-center cursor-pointer text-sm mt-2">
          Continue as guest
        </p>
      </div>
    </form>
    <!-- Right image -->
    <div class="col-6 p-0">
      <img
        class="w-full h-full"
        src="/assets/images/signup-mockup.jpg"
        style="object-fit: cover"
        alt=""
      />
    </div>
  </div>
</div>