<div *ngIf="stickerGroups">
  <p-tabView>
    <!-- Sticker list -->
    <p-tabPanel *ngFor="let group of stickerGroups"
      [header]="group.name ? group.name : 'Unknown'"
      class="block primary-scrollbar mt-2 overflow-y-scroll">
      <!-- Sticker inside sticker list -->
      <div style="min-height: 300px; max-height: 300px;">
        <div style="display: grid; grid-template-columns: repeat(3, minmax(0, 1fr)); gap: 10px;">
          <div *ngFor="let sticker of group.stickers" 
            (click)="onStickerClick(sticker)"
            class="cursor-pointer">
            <img [src]="sticker.imageUrl | constructImageUrl"
              onerror="this.onerror=null; this.src='/assets/images/no-image-available.jpg';"
              class="block" 
              style="object-fit: contain; width: 130px; height: 130px;" 
              [alt]="sticker.name"
              [title]="sticker.name">
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>