<!-- <div class="container" id="container" [ngClass]="{ active: isActive }">
  <div class="form-container sign-up">
    <form>
      <h1>Create Account</h1>

      <span>or use your email for registeration</span>
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="User Name"
      />
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
      />
      <input
        type="password"
        [(ngModel)]="retypePassword"
        name="retypePassword"
        id="retype-password"
        placeholder="Retype Password"
      />

      <button (click)="register()">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in">
    <form>
      <h1>Sign In</h1>
      <span>or use your email password</span>
      <input
        type="email"
        [(ngModel)]="email"
        (input)="onEmailChange()"
        name="phone"
        placeholder="Email"
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
      />
      <a (click)="navigateToForgotPassword()">Forget Your Password?</a>
      <button (click)="login()">Sign In</button>
    </form>
  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Experience Syncio!</h1>
        <p>Boost Your Productivity: Join the Syncio Community Today</p>
        <button (click)="deactivate()" class="test" id="login">Sign In</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Get Started Now</h1>
        <p>Welcome to Syncio.May your day go smoothly and be enjoyable.</p>
        <button (click)="activate()" class="test" id="register">Sign Up</button>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
</div> -->

<div class="wrapper">
  <!-- lang -->
  <div class="absolute top-0 right-0 p-4 flex gap-4 text-white">
    <p (click)="switchLang('en')" class="underline cursor-pointer">English</p>
    <p (click)="switchLang('vi')" class="underline cursor-pointer">Tiếng Việt</p>
  </div>

  <div class="form flex col-8 p-0 bg-white align-items-stretch shadow-1">
    <form class="col-6 flex flex-column gap-5 justify-content-center align-items-center">
      <h1>{{ 'login' | translate }}</h1>
      <div class="flex flex-column gap-4 w-full">
        <div class="w-full">
          <input
            [placeholder]="'email' | translate"
            type="email"
            [(ngModel)]="email"
            name="email"
            (input)="onEmailChange()"
          />
        </div>
        <div class="w-full">
          <input
            type="password"
            [placeholder]="'password' | translate"
            [(ngModel)]="password"
            name="password"
          />
          <p
            class="text-right cursor-pointer text-sm mt-2"
            (click)="navigateToForgotPassword()"
          >
            {{ 'forgotPassword' | translate }}
          </p>
        </div>
      </div>
      <p-button
        (click)="login()"
        [label]="'login' | translate"
        class="w-full"
        styleClass="w-full"
      />
      <div>
        <p routerLink="/register" class="text-center cursor-pointer text-sm mt-2">
          {{ 'dontHaveAnAccount' | translate }}
          <span class="text-primary font-bold">{{ 'signUp' | translate }}</span>
        </p>
        <p routerLink="/" class="text-center cursor-pointer text-sm mt-2">
          {{ 'continueAsGuest' | translate }}
        </p>
      </div>
    </form>
    <div class="col-6 p-0">
      <img
        class="w-full h-full"
        src="/assets/images/login-mockup.jpg"
        style="object-fit: cover"
        alt=""
      />
    </div>
  </div>
</div>