.main {
  font-size: 0.9rem;
  display: flex;
  gap: 1rem;

  ::ng-deep {
    .p-tabview-panels {
      padding: 0;
      margin-top: 2rem;
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
      padding: 1rem 1.125rem;
    }
  }
}

::ng-deep .p-sidebar {
  position: sticky;
  top: 1rem;
  min-height: 100vh;
  max-height: 100vh;
  transition: 0s;
  overflow: scroll;

  .p-sidebar-header {
    display: none;
  }

  .p-sidebar-footer {
    display: none;
  }

  .p-sidebar-left {
    max-width: 20rem;
  }

  .p-sidebar-content {
    overflow: visible !important;
    padding: 1.25rem;
  }
}

.container {
  flex: auto;
}

.main ::ng-deep {
  .p-dropdown {
    border: none;
    background-color: transparent;
  }

  .p-button:focus {
    box-shadow: none;
  }

  .font-style ::ng-deep {
    .italic span {
      font-weight: normal;
      font-style: italic;
    }

    .underline span {
      font-weight: normal;
      text-decoration: underline;
    }
  }

  .color-picker {
    position: fixed;
  }

  p-togglebutton.bold .p-togglebutton,
  p-togglebutton.bold .p-togglebutton .p-button-label {
    font-weight: inherit;
  }
}