
.main.left-menu {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--gray-300);
  background-color: var(--surface-0);
  z-index: 1100;

  @media screen and (min-width: 992px) {
    min-width: 250px;
  }

  // Move to bottom on mobile
  @media (max-width: 767px) {
    position: fixed;
    top: auto;
    bottom: 0;
    height: auto;
    min-height: auto;
    border-right-width: 0;
    border-right-style: none;
    border-color: unset;

    nav {
      padding: 0.5rem 1rem !important;
      border-top-width: 1px;
      border-top-style: solid;
      border-color: var(--gray-300);
        
      ul,
      ul .menu {
        flex-direction: row !important;
      }

      .menu {
        justify-content: space-around;
        li {
          width: auto !important;
        }
      }
    }

    // tieredmenu
    ::ng-deep .p-tieredmenu .p-menuitem-active>p-tieredmenusub>.p-submenu-list {
      top: auto;
      left: 0;
      bottom: 100%;
    }
  }
}

// Menu active
::ng-deep .left-menu .menu-active {
  .p-button-label,
  .p-button-icon {
    font-weight: bold !important;
  }
}

.left-menu nav ::ng-deep .p-button {
  text-align: left;
  padding: 1rem;
  height: 45px;
}

.left-menu ::ng-deep .menu .p-button.p-button-text:not(:disabled) { 
  .p-button-label,
  .p-button-icon {
    font-weight: 500;
    color: var(--surface-800);
    font-size: 16px;
  }
}

// tieredmenu
.main ::ng-deep .p-tieredmenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
  padding: 1rem;
  border-radius: 6px;

  .p-menuitem-text,
  .p-menuitem-icon {
    font-weight: 500;
    color: var(--surface-800);
  }

  .p-icon-wrapper {
    display: none;
  }
} 

.main ::ng-deep .p-tieredmenu .p-menuitem.p-highlight.p-focus > .p-menuitem-content {
    background: #e9ecef;
    color: #6c757d;
}

.main .setting ::ng-deep .p-tieredmenu .p-menuitem-active>p-tieredmenusub>.p-submenu-list {
  top: auto;
  bottom: 0;
}

// Logo
::ng-deep .left-menu .p-button.p-button-link:not(:disabled)  {
  :hover .p-button-label {
    text-decoration: none;
    font-weight: 900;
  }

  .p-button-label {
    text-decoration: none;
    font-weight: 900;
  }
}

// Hide label menu
@media screen and (max-width: 992px) {

  .p-menuitem-text {
    display: none;
  }

  .left-menu ::ng-deep nav .p-button.p-button-text:not(:disabled) {
    justify-content: center;

    .p-button-label {
      display: none;
    }

    .p-button-icon,
    .p-menuitem-text {
      margin: 0;
    }
  }

  .logo-big {
    display: none !important;
  }
  
  .logo-small {
    display: block !important;
  }

  .left-menu ::ng-deep .p-tieredmenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    justify-content: center;
  }

  .left-menu ::ng-deep .p-tieredmenu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    margin-right: 0;
  }

}

::ng-deep .left-menu p-dialog {
  z-index: 999999;
  position: relative;
}

// Hide menu label
::ng-deep .hide-menu-label {
  min-width: auto !important;

  nav .p-button.p-button-text:not(:disabled) {
    justify-content: center;

    .p-button-label {
      display: none;
    }

    .p-button-icon {
      margin: 0;
    }
  }

  .p-menuitem-text {
    display: none;
  }

  .logo {
    margin: 0 auto;
  }

  .logo-big {
    display: none !important;
  }

  .logo-small {
    display: block !important;
  }

  .p-tieredmenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    justify-content: center;
  }

  .p-tieredmenu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    margin-right: 0;
  }

}

p-tieredMenu ::ng-deep {
  .p-menuitem-text {
    font-size: 16px;
  }

  .p-tieredmenu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content {
    border-radius: 8px;
  }
}

.logo ::ng-deep {
  .p-button-label {
    font-size: 1.5rem;
  }
}

.main ::ng-deep .has-unseen-notifications {
  .p-button-icon {
    color: red !important;
  }
}