<div class="main">
  <div class="card">
    <p-toolbar styleClass="m-3 gap-2">
      <ng-template pTemplate="left">
        <div class="flex flex-column md:flex-row md:justify-content-between">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" [placeholder]="'labels_shop.select_sort_options' | translate" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
          <input type="text" pInputText [placeholder]="'labels_shop.search_by _name' | translate" [(ngModel)]="searchTerm" (input)="filterNameLabels()" class="ml-2"/>
      </div>
      </ng-template>

      <!-- Purchase History -->
      <ng-template pTemplate="right">
        <button pButton pRipple [label]="'labels_shop.purchase_history' | translate" icon="pi pi-history" class="p-button-help"
          (click)="openPurchaseHistory()"></button>
          
      </ng-template>
    </p-toolbar>

    <p-dataView #dv [value]="filteredLabels" [layout]="'grid'" [rows]="8" [paginator]="false" paginatorPosition="top" [sortField]="sortField" [sortOrder]="sortOrder" styleClass="p-2" >
      <ng-template let-label pTemplate="gridItem">
        <div class="card col-12 sm:col-6 lg:col-4 xl:col-3 p-3">
          
          <div class="flex flex-column gap-3 p-3 border-1 surface-border surface-card border-round">
            <div class="flex justify-content-between align-items-center">
              <div>
                <i class="pi pi-tag mr-1"></i>
                <!-- <span class="font-semibold text-sm">{{ label.type }}</span> -->
                <span class="font-semibold text-sm">{{'labels_shop.decorate' | translate}}</span>
              </div>
              <div>
                <p-tag *ngIf="label.status === 'ENABLED'" [severity]="'success'" styleClass="uppercase">{{'labels_shop.in_stock' | translate}}</p-tag>
                <p-tag *ngIf="label.status === 'DISABLED'" [severity]="'danger'" styleClass="uppercase">{{'labels_shop.out_of_stock' | translate}}</p-tag>
              </div>
            </div>
  
            <img [src]="imageUtils.getImageURL(label.labelURL)" [alt]="label.name" class="shadow-1 border-round w-full block mx-auto" style="object-fit: cover; aspect-ratio: 1/1;" />
            
            <div>
              <div class="text-lg font-bold mb-2">{{ label.name }}</div>
              <div class="flex justify-content-between">
                <span class="text-gray-500 font-semibold" style="font-size: 0.925rem;">{{ label.price | number:'1.0-0' }} VND</span>
                <span class="font-semibold" style="font-size: 0.925rem;">{{ 'labels_shop.quantitySold' | translate}} {{label.quantitySold}}</span>
              </div>
            </div>
            
            <div class="flex justify-content-between gap-2">
              <p-button (click)="gift(label)" [label]="'labels_shop.gift' | translate" icon="pi pi-gift" severity="my-custom-secondary danger" class="flex-1" styleClass="w-full"></p-button>
              <p-button *ngIf="!label.purcharse" [disabled]="label.status == 'DISABLED'" (click)="buyNow(label)" [label]="'labels_shop.buy' | translate" icon="pi pi-check-circle" severity="my-custom-primary" class="flex-1" styleClass="w-full"></p-button>
              <p-button *ngIf="label.purcharse" [disabled]="true" [label]="'labels_shop.buyed' | translate" icon="pi pi-check-circle" severity="my-custom-primary" class="flex-1" styleClass="w-full"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <!-- Dialog -->
  <p-dialog [(visible)]="labelDialog" [style]="{ width: '450px' }" [header]="'labels_shop.payment_details' | translate" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <!-- Label name -->
      <div class="field">
        <label for="name">{{'labels_shop.name' | translate}}</label>
        <input type="text" pInputText id="name" [(ngModel)]="label.name" required autofocus disabled="true" />
        <small class="p-error" *ngIf="submitted && !label.name">Name is required.</small>
      </div>

      <!-- Price -->
      <div class="field">
        <label for="price">{{'labels_shop.price' | translate}}</label>
        <p-inputNumber id="price" [(ngModel)]="label.price" inputId="currency-vn" mode="currency" currency="VND"
          locale="vi-VN" [disabled]="true">
        </p-inputNumber>
        <small class="p-error" *ngIf="submitted && !label.price">Price is required.</small>
      </div>

      <!-- Receiver -->
      <div class="field">
        <label for="receiver">{{'labels_shop.receiver' | translate}}</label>
        <input type="text" pInputText id="receiver" [(ngModel)]="label.owner" required autofocus />
        <small class="p-error" *ngIf="submitted && !label.owner">Owner is required.</small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <!-- nut an -->
      <button pButton pRipple [label]="'common.cancel' | translate" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>

      <!-- nut save -->
      <button pButton pRipple [label]="'labels_shop.payment' | translate" icon="pi pi-check" class="p-button-text" (click)="sendGift()"></button>
    </ng-template>
  </p-dialog>

  <!-- Bill of User Dialog -->
  <p-dialog [(visible)]="billOfUserDialog" [style]="{ width: '62rem' }" [header]="'labels_shop.purchase_history' | translate" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <p-table #dt [value]="bills" [rows]="8" [paginator]="true" [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]" [tableStyle]="{ 'max-width': '60rem' }" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="orderNo" style="max-width: 2rem">
              {{'labels_shop.order_no' | translate}} <p-sortIcon field="orderNo"></p-sortIcon>
            </th>
            <th pSortableColumn="buyer" style="max-width: 4rem">
              {{'labels_shop.buyer' | translate}} <p-sortIcon field="buyer"></p-sortIcon>
            </th>
            <th pSortableColumn="owner" style="max-width: 4rem">
              {{'labels_shop.owner' | translate}} <p-sortIcon field="owner"></p-sortIcon>
            </th>
            <th pSortableColumn="amount" style="max-width: 10rem">
              {{'labels_shop.amount' | translate}} (VND) <p-sortIcon field="amount"></p-sortIcon>
            </th>

            <th pSortableColumn="createDate" style="max-width: 4rem" >{{'labels_shop.date_create' | translate}} <p-sortIcon field="createDate"></p-sortIcon></th>
            <th pSortableColumn="status" style="max-width:4rem">{{'labels_shop.status' | translate}} <p-sortIcon field="status"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bill>
          <tr>
            <td>{{ bill.orderNo }}</td>
            <td>{{ bill.buyerId | userIdToName | async }}</td>
            <td>{{ bill.ownerId | userIdToName | async }}</td>
            <td>{{ bill.amount }}</td>

            <td>{{ bill.createdDate | date:'HH:mm:ss dd/MM/yyyy' }}</td>
            <td>
              <p-tag [value]="bill.status" [severity]="getSeverity(bill.status)"></p-tag>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            {{'labels_shop.in_total_there_are' | translate}} {{ bills ? bills.length : 0 }} {{'labels_shop.bills' | translate}}.
          </div>
        </ng-template>
      </p-table>
    </ng-template>
  </p-dialog>
</div>