@media(max-width: 767px) {
  p-toast ::ng-deep {
    .p-toast-top-right {
      top: 56px;
    }

    .p-toast {
      width: calc(100% - 2rem);
      right: 1rem;
    }

    .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
      font-size: 0.875rem;
    }
  }
}