<div *ngIf="usersWithStories.length > 0" class="container mt-4 w-full">

  <!-- Expand/Collapse Stories -->
  <div *ngIf="usersWithStories.length > 6"
    (click)="isExpandedStory = !isExpandedStory"
    style="width: min(470px, 100vw - 1rem); margin: 1rem auto 0.5rem auto; user-select: none;"
    class="cursor-pointer flex justify-content-end align-items-center gap-1">
    <ng-container *ngIf="!isExpandedStory" >
      <small>{{ 'story_list.expand_stories' | translate }}</small>
      <i class="pi pi-th-large"></i>
    </ng-container>
    <ng-container *ngIf="isExpandedStory">
      <small>{{ 'story_list.collapse_stories' | translate }}</small>
      <i class="pi pi-ellipsis-h"></i>
    </ng-container>
  </div>
  
  <div class="flex align-items-center justify-content-start gap-3 py-3 m-auto primary-scrollbar overflow-x-scroll"
    style="width: min(470px, 100vw - 1rem); scroll-snap-type: x mandatory"
    [ngStyle]="{
      'flex-wrap': isExpandedStory ? 'wrap' : 'nowrap',
    }">
    <!-- Story item -->
    <div *ngFor="let user of usersWithStories" 
      (click)="navigateToStory(user)"
      class="story-item cursor-pointer text-center"
      [title]="currentUserId === user.id ? ('story_list.your_story' | translate) : user.username">
      <!-- Avatar -->
      <app-avatar [userId]="user.id" [width]="64" [userStory]="user"></app-avatar>
      <!-- Username -->
      <p class="mt-1" style="font-size: 0.75rem; width: 64px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
        {{currentUserId === user.id ? ('story_list.your_story' | translate) : user.username}}
      </p>
    </div>
  </div>
</div>

<!-- View story -->
<div *ngIf="selectedUser != null && selectedUser.id" 
  style="width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 9999999;">
  <app-view-story 
    [userIdInput]="selectedUser.id"
    (close)="close()"
    (storyViewedCount)="selectedUser.storyViewedCount = $event">
  </app-view-story>
</div>