<div class="col-12 sm:col-8 m-auto">
  <h1 class="text-2xl mb-4">{{'profile_form.edit_profile' | translate}}</h1>

  <div class="flex flex-column justify-content-center align-items-center">
    <app-avatar [width]="128" [userId]="userResponse?.id"></app-avatar>
  
    <p-button label="QR Code" class="mt-4" (click)="showQrCode()"></p-button>
  
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <label for="email">{{'profile_form.email' | translate}}</label>
      <input formControlName="email" type="email" required />
  
      <label for="username">Username</label>
      <input formControlName="username" type="text" required />
  
      <label for="bio">{{'profile_form.bio' | translate}}:</label>
      <textarea formControlName="bio" rows="4" required></textarea>
  
      <p-button
        [label]="'common.submit' | translate"
        type="submit"
        class="block text-right mt-6"
        styleClass="col-4"
      ></p-button>
    </form>
  </div>
  <!-- <p-dialog
    [(visible)]="qrCodeDialogVisible"
    [modal]="true"
    header="QR Code"
    [style]="{ width: '50vw' }"
  >
    <img [src]="qrCodeUrl" alt="QR Code" style="width: 70%; height: auto" />
    <p-button
      label="Close"
      icon="pi pi-times"
      (click)="qrCodeDialogVisible = false"
    ></p-button>
  </p-dialog> -->
</div>

<p-dialog
  [(visible)]="qrCodeDialogVisible"
  [modal]="true"
  header="QR Code"
  (onHide)="qrCodeDialogVisible = false"
  [style]="{ width: '40vw', minWidth: '320px' }">
  <div class="text-center">
    <p class="my-0">QR code helps people follow others easily.</p>
    <p class="mb-3 mt-0">People can scan QR code with their smartphone’s camera to see others’ profile.</p>
    <img [src]="qrCodeUrl" alt="QR Code" style="width: 80%; max-width: 280px; height: auto; display: block; margin: auto;" />
    <!-- <button (click)="downloadQRCode()" class="surface-100 px-3 py-2 border-round border-none outline-none cursor-pointer">Download QR Code</button> -->
  </div>
</p-dialog>


