<div class="main" class= "flex justify-content-center text-center">
    <!-- Thanh toan thanh cong -->
    <div *ngIf="responseCode == '00'">
        <div class="card flex">
            <p-card header="Payment Successfull" [style]="{ width: '50rem' }">
                <ng-template pTemplate="header">
                    <i class="pi pi-check rounded-icon" style="background-color: rgb(41, 230, 41);"></i>
                </ng-template>
                <p>
                    Thank you! You have successfully paid for order <b>{{orderInfo}}</b> with the amount of <b>{{formattedAmount}}</b> at <b>{{datePipe}}</b>
                </p>    
                <ng-template pTemplate="footer">
                     <a href="/labels-shop">Continue Shopping</a>
                </ng-template>
            </p-card>
        </div>
    </div>

    <!-- Thanh toan that bai -->
    <div *ngIf="responseCode == '24'">
        <div class="card flex">
            <p-card header="Payment Failed" [style]="{ width: '50rem' }">
                <ng-template pTemplate="header">
                    <i class="pi pi-times rounded-icon" style="background-color: rgb(238, 17, 17);"></i>
                </ng-template>
                <p>
                    Opps! You have failed to pay for order <b>{{orderInfo}}</b> with the amount of <b>{{formattedAmount}}</b> at <b>{{datePipe}}</b>
                </p>    
                <ng-template pTemplate="footer">
                     <a href="/labels-shop">Continue Shopping</a>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>