<div class="main mt-3 mr-3">
    <!-- card -->
    <div class="card">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <!-- nut them moi -->
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button>
            </ng-template>
            <!-- export file -->
            <ng-template pTemplate="right">
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
            </ng-template>
        </p-toolbar>

        <!-- Bang du lieu Users -->
        <p-table 
            #dt 
            [value]="users"
            [rows]="6" 
            [paginator]="true" 
            [globalFilterFields]="['username', 'email']" 
            [tableStyle]="{ 'min-width': '75rem' }" 
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" 
            selectionMode="single" 
            (onRowSelect)="onRowSelect($event)">

            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h3 class="m-0">Manage Users</h3>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText
                            type="text" 
                            (input)="onInputChange($event)" 
                            placeholder="Search..." />
                    </span>
                </div>
            </ng-template>

            <!-- Search -->
            <!-- <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText 
                        type="text" 
                        (input)="onInputChange($event)" 
                        placeholder="Search" />
                    </span>
                </div>
            </ng-template> -->

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="username" style="min-width: 14rem">
                        Username <p-sortIcon field="username"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email" style="min-width: 16rem">
                        Email <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pSortableColumn="createdDate" style="min-width: 16rem">
                        Date Create <p-sortIcon field="createdDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="role" style="max-width: 11rem">
                        Role <p-sortIcon field="role"></p-sortIcon>
                    </th>
                    <th pSortableColumn="status" style="max-width: 11rem">
                        Status <p-sortIcon field="status"></p-sortIcon>
                    </th>
                    <th pSortableColumn="action" style="max-width: 6rem">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr [pSelectableRow]="user">
                    <td>
                        <app-username-label 
                            [userId]="user.id"
                            [username]="user.username"
                            [fontSize]=""
                            [color]="''">
                        </app-username-label>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.createdDate | date : "HH:mm:ss dd/MM/yyyy"}}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <p-tag [value]="user.status" [severity]="getSeverity(user.status)"></p-tag>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editUser(user)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{ users ? users.length : 0 }} users.
                </div>
            </ng-template>
        </p-table>
    </div>

    <!-- Dialog -->
    <p-dialog 
        [(visible)]="userDialog" 
        [style]="{ width: '450px' }" 
        header="User Details" 
        [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <!-- Username -->
            <div class="field">
                <label for="username">Username</label>
                <input type="text" pInputText id="username" [(ngModel)]="user.username" required autofocus />
                <small class="p-error" *ngIf="submitted && !user.username">Username is required.</small>
            </div>

            <!-- Email -->
            <div class="field">
                <label for="email">Email</label>
                <input type="email" pInputText id="email" [(ngModel)]="user.email" required email />
                <small class="p-error" *ngIf="submitted && !user.email">Email is required.</small>
            </div>

            <!-- Password -->
            <div class="field">
                <label for="password">Password</label>
                <input type="text" pInputText id="password" [(ngModel)]="user.password" required />
                <small class="p-error" *ngIf="submitted && !user.password">Password is required.</small>
            </div>

            <!-- Status -->
            <div class="field" *ngIf="user">
                <label for="status">Status</label>
                <p-dropdown [(ngModel)]="user.status" inputId="status" [options]="statuses">
                    <ng-template pTemplate="selectedItem">
                        <p-tag *ngIf="user.status" [value]="user.status" [severity]="getSeverity(user.status)"></p-tag>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <p-tag [value]="option.label" [severity]="getSeverity(option.label)"></p-tag>
                    </ng-template>
                </p-dropdown>
            </div>

            <!-- Role -->
            <div class="field">
                <label class="mb-3">Role</label>
                <div class="formgrid grid">
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="role1" name="role" value="ADMIN" [(ngModel)]="user.role"></p-radioButton>
                        <label for="role1">Amin</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="rolde2" name="role" value="USER" [(ngModel)]="user.role"></p-radioButton>
                        <label for="role2">User</label>
                    </div>
                </div>
            </div>

            <!-- Bio -->
            <div class="field">
                <label for="bio">Bio</label>
                <textarea 
                    id="bio" 
                    pInputTextarea 
                    [(ngModel)]="user.bio" 
                    required 
                    rows="3" 
                    cols="20">
                </textarea>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <!-- nut an -->
            <button 
                pButton 
                pRipple 
                label="Cancel" 
                icon="pi pi-times" 
                class="p-button-text"
                (click)="hideDialog()">
            </button>

            <!-- nut save -->
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
        </ng-template>
    </p-dialog>

    <!-- Post of User Selection Dialog -->
    <p-dialog 
        [(visible)]="postOfUserDialog" 
        [style]="{ width: '1250px' }" 
        header="List Post of User" 
        [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="main">
                <!-- Post list -->
                <div>
                    <!-- Post from close friends and following -->
                    <app-post *ngFor="let post of posts" [post]="post"></app-post>

                    <!-- End of feed -->
                    <div #endOfFeed class="text-gray-500 text-center"
                        style="width: min(470px, 100vw - 1rem); margin: 2rem auto">
                        <small *ngIf="endOfFeed">You have reached the end of the feed!</small>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>