::ng-deep html {
    font-size: 14px;
}

.main{
    display: flex;
    gap: 1rem;
}

::ng-deep .p-sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    padding: 1rem;
    transition: 0s;
}

p-sidebar ::ng-deep .p-sidebar .p-sidebar-header {
    display: none;
}

p-sidebar ::ng-deep .p-sidebar-content {
    overflow: unset;
}

p-sidebar ::ng-deep .p-sidebar .p-sidebar-footer {
    padding: 0;
}

p-tieredmenu ::ng-deep .p-tieredmenu .p-menuitem-active>p-tieredmenusub>.p-submenu-list {
    top: auto;
    bottom: 0;
}

.container{
    flex: auto;
}