<div class="main">
  <div class="card flex justify-content-center">
    <p-sidebar #sidebarRef
      [visible]="true"
      [modal]="false"
      [showCloseIcon]="false"
      [transitionOptions]="'0s'">
      <ng-template pTemplate="headless">
        <div class="flex flex-column h-full">
          <!-- Logo   -->
          <div class="no-text-decoration p-fluid pt-4">
            <a href="" class="no-underline text-2xl" style="color: #1D4ED8; font-weight: 900;">SYNCIO</a>
          </div>
          <!-- Menu -->
          <div class="overflow-y-auto">
            <ul class="list-none p-4 px-0 m-0">
              <li *ngFor="let menu of menus">
                <a [routerLink]="['./' + menu.link]"
                  routerLinkActive="text-primary"
                  [routerLinkActiveOptions]="{ exact: true }"
                  pRipple class="no-underline flex align-items-center cursor-pointer p-3 pl-0 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                  <span class="font-medium">{{menu.name}}</span>
                </a>
              </li>
            </ul>
          </div>
          
          <!-- Setting -->
          <div class="setting p-fluid w-full sm:mt-auto mt-0 mobile-hidden">
            <p-tieredMenu [model]="settingSubmenuItems"
                styleClass="w-full border-none shadow-none">
                <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
                  <ng-container *ngIf="item.route; else withoutRoute">
                    <a [routerLink]="item.route"
                      [href]="item.href"
                      class="p-menuitem-link">
                      <span [class]="item.icon + ' p-menuitem-icon'" [ngStyle]="{ 'color': item.color }"></span>
                      <span class="p-menuitem-text" [ngStyle]="{ 'color': item.color }">{{ item.label }}</span>
                    </a>
                  </ng-container>
                  <ng-template #withoutRoute>
                    <ng-container *ngIf="item.url; else withoutUrl">
                      <a [href]="item.url"
                        [target]="item.target"
                        class="p-menuitem-link">
                        <span [class]="item.icon + ' p-menuitem-icon'" [ngStyle]="{ 'color': item.color }"></span>
                        <span class="p-menuitem-text" [ngStyle]="{ 'color': item.color }">{{ item.label }}</span>
                        <span
                          *ngIf="hasSubmenu"
                          class="pi pi-angle-right ml-auto"
                        ></span>
                      </a>
                    </ng-container>
                    <ng-template #withoutUrl>
                      <a class="p-menuitem-link">
                        <span [class]="item.icon + ' p-menuitem-icon'" [ngStyle]="{ 'color': item.color }"></span>
                        <span class="p-menuitem-text" [ngStyle]="{ 'color': item.color }">{{ item.label }}</span>
                        <span
                          *ngIf="hasSubmenu"
                          class="pi pi-angle-right ml-auto"
                        ></span>
                      </a>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </p-tieredMenu>
          </div>
          
        </div>
      </ng-template>
    </p-sidebar>
  </div>

  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>
