.container ::ng-deep .field-checkbox {
  flex-direction: row;
  justify-content: space-between;
}

p-checkbox ::ng-deep .p-checkbox {
  width: 28px;
  height: 28px;
}

p-checkbox ::ng-deep .p-checkbox .p-checkbox-box {
  border-radius: 50%;
}

.field-checkbox > label {
  margin-left: 0;
}

input {
  background: transparent !important;
  font-weight: 300;
  padding: 5px 10px;
  outline: none;
  border: none !important;
  width: 100%;
}