:host {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--surface-0);
  display: block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--gray-300);
}

// Menu active
::ng-deep .menu-active {
  .p-button-label,
  .p-button-icon {
    font-weight: bold;
  }
}

.logo ::ng-deep .p-button-label {
  font-weight: 900;
}