<div class="container" id="container">
  <div class="form-container">
    <form>
      <h1>Passowrd</h1>

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
      />
      <input
        type="password"
        [(ngModel)]="retypePassword"
        name="retypePassword"
        id="retype-password"
        placeholder="Retype Password"
      />

      <button (click)="changePassword()">Change Password</button>
    </form>
  </div>

  <p-toast></p-toast>
</div>
