<div class="wrapper" style="background-image: url('assets/images/login-background.png');">
  <div class="form flex col-12 sm:col-4 p-0 align-items-stretch px-4">
    <form class="col-12 flex flex-column gap-5 justify-content-center align-items-center shadow-1">
      <!-- title -->
      <h1 class="text-center mt-0">{{ 'change_password.change_password' | translate }}</h1>
      
      <div class="flex flex-column gap-4 w-full">
        <!-- password -->
        <div class="w-full">
          <input
            [placeholder]="'change_password.new_password' | translate"
            type="password"
            [(ngModel)]="password"
            name="password"
            (keydown.enter)="onSubmit()"
          />
        </div>
        <!-- confirm password -->
        <div class="w-full">
          <input
            type="password"
            [placeholder]="'change_password.confirm_new_password' | translate"
            [(ngModel)]="retypePassword"
            name="retypePassword"
            (keydown.enter)="onSubmit()"
          />
        </div>
      </div>
      <!-- submit button -->
      <p-button
        [disabled]="!password || !retypePassword"
        (click)="changePassword()"
        [label]="'change_password.change_password' | translate"
        class="w-full"
        styleClass="w-full"
      />
      <!-- back to forgot_password -->
      <div>
        <p routerLink="/forgot_password" class="text-primary font-bold text-center cursor-pointer text-sm mt-2">
          {{ 'change_password.back_to_forgot_password' | translate }}
        </p>
      </div>
    </form>
  </div>
</div>
