<div id='object' 
  [style.top.px]='y'  
  [style.left.px]='x' 
  [style.width.px]='width'
  [style.height.px]='height'
  [style.border]="isDraggingWrapperVisible ? '2px solid #0099ff' : '2px solid transparent'"
  (mousedown)='onObjectPress($event)'
  (mousemove)='onObjectDragging($event)'>
  <div class="content">
    <ng-content></ng-content>
  </div>
  <div *ngIf="isDraggingWrapperVisible" (mousedown)='onCornerClick($event, topLeftResize)' id='object-top-left-resize' class='object-corner-resize'></div>
  <div *ngIf="isDraggingWrapperVisible" (mousedown)='onCornerClick($event, topRightResize)' id='object-top-right-resize' class='object-corner-resize'></div>
  <div *ngIf="isDraggingWrapperVisible" (mousedown)='onCornerClick($event, bottomLeftResize)' id='object-bottom-left-resize' class='object-corner-resize'></div>
  <div *ngIf="isDraggingWrapperVisible" (mousedown)='onCornerClick($event, bottomRightResize)' id='object-bottom-right-resize' class='object-corner-resize'></div>
</div>