<div #container class="container h-full flex align-items-stretch"
  [class.mobile]="isMobile">
  <div class="message-content-container h-full flex flex-column p-0"
    [ngClass]="isShowDetails ? 'col-8' : 'col-12'">
    <!-- Message room name -->
    <div class="flex justify-content-between align-items-center my-1 p-2">
      <div class="flex justify-content-start align-items-center gap-3">
        <span *ngIf="isMobile" (click)="backToMessageRoomList()" class="pi pi-arrow-left" style="font-size: 1.25rem;"></span>
        <div class="flex justify-content-between align-items-center gap-2">
          <app-avatar [userId]="getMemberNotMe()" [width]="48" [onError]="messageRoom.group ? 'assets/images/avatar-group.jpg' : ''"></app-avatar>
          <h3 class="text-base font-semibold">{{messageRoom.name}}</h3>
        </div>
      </div>
      <span (click)="showDetails()" class="pi pi-info-circle cursor-pointer" style="font-size: 1.5rem"></span>
    </div>
  
    <p-divider></p-divider>

    <div #loading *ngIf="showLoading" class="my-2 mx-auto h-full">
      <i class="pi pi-spin pi-spinner text-primary" style="font-size: 2rem"></i>
    </div>
  
    <!-- Message list -->
    <div #messageContentContainer class="primary-scrollbar" style="flex: 1; overflow-y: scroll;">
      <!-- Avatar -->
      <div class="flex flex-column justify-content-center align-items-center gap-1 my-4">
        <app-avatar [userId]="getMemberNotMe()" [width]="128" [onError]="messageRoom.group ? 'assets/images/avatar-group.jpg' : ''"></app-avatar>
        <h2 *ngIf="currentUser.username" class="text-3xl mt-1 mb-0 p-2 text-center" style="font-weight: 500;">{{messageRoom.name}}</h2>
        <p-button *ngIf="!messageRoom.group && messageRoom.members" 
          [routerLink]="['/profile', getMemberNotMe()]" 
          [label]="'message_content_list.view_profile' | translate" severity="my-custom-secondary"
          class="mt-3"></p-button>
      </div>
  
      <!-- List of Message content -->
      <div class="p-2 flex flex-column gap-2">
        <app-message-item *ngFor="let mc of messageContents" 
          (contextmenu)="onContextMenu($event, mc)"
          [messageContent]="mc" 
          [currentUser]="currentUser" 
          [messageRoom]="messageRoom"
          [isLastSeen]="mc.id === lastSeenMessageId"
          class="flex flex-column">
        </app-message-item>
      </div>
    </div>
  
    <!-- <p-divider></p-divider> -->
  
    <!-- Message input -->
    <div class="flex flex-column justify-content-between align-items-center p-2">
      <!-- Reply -->
      <div *ngIf="messageContent.replyTo"
        class="relative border-top-1 border-gray-300 w-full pb-3 pt-2">
        <p class="my-2">{{'message_content_list.replying_to' | translate}} {{messageContent.replyTo.user?.username}}</p>
        <!-- Content -->
        <div class="message-content opacity-50 primary-scrollbar"
          style="max-height: 120px; overflow: scroll;">
          <app-message-item-content [messageContent]="messageContent.replyTo"></app-message-item-content>
        </div>
        <!-- Close reply icon -->
        <i (click)="messageContent.replyTo = undefined" 
          class="pi pi-times absolute top-0 right-0 p-3 cursor-pointer">
        </i>
      </div>
  
      <div *ngIf="isAvailableRoom" class="message-input flex justify-content-between align-items-center w-full px-2 gap-2">
        <!-- Emoji -->
        <div class="relative">
          <i (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
            class="cursor-pointer fa-regular fa-face-smile text-xl"></i>
          <emoji-mart *ngIf="isEmojiPickerVisible"
            [set]="'twitter'"
            [showPreview]="false" 
            (emojiSelect)="addEmoji($event)"
            [style]="{ position: 'absolute', bottom: '30px', right: '20 px' }"></emoji-mart>
        </div>
  
        <!-- Sticker -->
        <div>
          <i (click)="op.toggle($event); isEmojiPickerVisible = false;" 
            class="fa-regular fa-note-sticky cursor-pointer text-xl"></i>
          <p-overlayPanel #op styleClass="max-w-screen">
            <div class="flex flex-column gap-3 w-25rem" style="max-width: 100%;">
              <app-sticker (stickerClick)="sendSticker($event)"></app-sticker>
            </div>
          </p-overlayPanel>
        </div>
  
        <!-- Image -->
        <div>
          <p-fileUpload 
            #imageUploader
            mode="basic"
            chooseIcon="pi pi-image"
            name="photo"
            accept="image/*" 
            [maxFileSize]="5000000" 
            [multiple]="true"
            (onSelect)="sendPhotos($event)" />
        </div>
  
        <!-- Input -->
        <p-editor #editor (onTextChange)="textChange($event)" 
          [(ngModel)]="messageContent.message" 
          [formats]="['bold']"
          [placeholder]="('message_content_list.messages' | translate) + '...'" [style]="{ maxHeight: '40px' }">
          <ng-template pTemplate="header" hidden></ng-template>
        </p-editor>
  
        <!-- Send button -->
        <p-button [disabled]="plainComment.trim().length <= 0" 
          (click)="sendMessage(MessageContentTypeEnum.TEXT)"
          [label]="'message_content_list.send' | translate" size="small" [text]="true"></p-button>    
      </div>
      
    </div>
  
  </div>
  
  <p-divider *ngIf="isShowDetails" [layout]="'vertical'"></p-divider>
  
  <!-- Message Room Details -->
  <div *ngIf="isShowDetails || (!isShowDetails && isMobile)" class="show-detail col-4 p-0">
    <app-message-room-detail
      [isMobile]="isMobile"
      [messageRoom]="messageRoom"
      [currentUser]="currentUser"
      (updateMessageRoomNameEvent)="updateMessageRoomName(messageRoom); addMessageContentNotification(MessageContentTypeEnum.NOTIFICATION_CHANGE_NAME, this.messageRoom.name || '')"
      (addPeopleEvent)="addMessageContentNotification(MessageContentTypeEnum.NOTIFICATION_ADD_MEMBER, $event)"
      (removeMemberEvent)="addMessageContentNotification(MessageContentTypeEnum.NOTIFICATION_REMOVE_MEMBER, $event)"
      (leaveChatEvent)="addMessageContentNotification(MessageContentTypeEnum.NOTIFICATION_LEAVE_ROOM, $event)"
      (makeAdminEvent)="addMessageContentNotification(MessageContentTypeEnum.NOTIFICATION_MAKE_ADMIN, $event)"
      (removeAdminEvent)="addMessageContentNotification(MessageContentTypeEnum.NOTIFICATION_REMOVE_ADMIN, $event)"
      (backToMessageContentListEvent)="backToMessageContentListEvent($event)">
    </app-message-room-detail>
  </div>
  
</div>


<!-- Context menu show on right click on message content -->
<p-contextMenu #contextMenu [model]="contextMenuItems" />

<!-- scroll to unread message -->
<div *ngIf="!alreadyScrolled && messageRoom.unSeenCount && messageRoom.unSeenCount > 0" (click)="scrollToElement('unSeenMessage')" class="unseen">
  {{'message_content_list.unseen_message' | translate}} <i class="pi pi-arrow-up"></i>
</div>



