<p-dialog
  [(visible)]="isVisible"
  [modal]="true"
  [dismissableMask]="true"
  [responsive]="true"
  [style]="{ width: isMobile? '100vw' : '80vw', maxWidth: '900px' }"
  [baseZIndex]="10000"
  header="Header"
  [class.mobile]="isMobile">
  <ng-template pTemplate="header" style="padding: 0;">
    <!-- Modal header -->
    <div
      class="modal-header"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid var(--surface-border);">
      <div>
        <button
          pButton
          type="button"
          icon="pi pi-arrow-left"
          (click)="onCancel()"
          class="p-button-text"
        ></button>
      </div>
      <div>
        <p style="margin: 0; font-weight: 600;">{{ 'create_post.create_new_post' | translate }}</p>
      </div>
      <div>
        <button
          pButton
          type="button"
          [label]="'create_post.share' | translate"
          (click)="createPost()"
          class="p-button-text"
        ></button>
      </div>
    </div>
  </ng-template>
  <!-- Modal content -->
  <div class="flex">
    <!-- Left content / Photos -->
    <div class="col-7 p-0">
      <div class="p-fluid">
        <div class="flex justify-content-center align-items-center relative" style="height: 500px">
          <input *ngIf="selectedFiles.length === 0" 
            #fileUploader
            type="file"
            style="display: none"
            name="photo[]"
            multiple
            (change)="onFileSelected($event)"
            accept="image/*, video/*" >
          <p-button *ngIf="selectedFiles.length === 0"
            [label]="'create_post.select_from_computer' | translate"
            icon="pi pi-upload"
            (click)="fileUploader.nativeElement.click()">
          </p-button>

          <!-- images preview -->
          <p-carousel *ngIf="selectedFilesDisplay.length > 0 && !selectedFiles[0].type.startsWith('video')"
            [value]="selectedFilesDisplay"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="false"
            [ngClass]="selectedFilesDisplay.length == 1 ? 'hide-slide-control' : ''">
            <ng-template let-photo pTemplate="item">
              <img [src]="photo"
                class="w-full h-full"
                style="object-fit: cover" />
            </ng-template>
          </p-carousel>

          <!-- video preview -->
          <video *ngIf="selectedFiles[0] && selectedFiles[0].type.startsWith('video')"
            [src]="selectedFilesDisplay[0]" controls muted 
            class="w-full h-full"
            style="object-fit: cover">
          </video>

          <!-- remove button -->
          <span *ngIf="selectedFiles.length > 0" 
            (click)="onRemoveSelectedFiles()"
            class="pi pi-times cursor-pointer absolute top-0 right-0 p-2"
            style="font-size: 1.25rem;" >
          </span>
        </div>
      </div>
    </div>

    <p-divider *ngIf="!isMobile" layout="vertical"></p-divider>
    <p-divider *ngIf="isMobile" layout="horizontal"></p-divider>

    <!-- Right content / Caption -->
    <div class="col-5 px-3 pt-2">
      <div class="p-fluid">
        <div class="field">
          <div class="inline-flex align-items-center justify-content-start gap-2 w-full">
            <app-avatar [userId]="currentUserId" [width]="32"></app-avatar>
            <span class="font-semibold white-space-nowrap">
              <!-- {{currentUsername}} -->
              <app-username-label 
                [userId]="currentUserId"
                [username]="currentUsername"
                [fontSize]="''"
                [color]="''">
              </app-username-label>
            </span>
            <!-- Visibility -->
            <button
              pButton
              pRipple
              [label]="getVisibilityLabel(selectedVisibility)"
              (click)="onShowModalVisibility()"
              class="p-button-success padding-7 w-fit"
              [ngStyle]="{ 'margin-left': isMobile ? 'auto' : '0' }"
            ></button>
          </div>
        </div>
        <!-- Caption -->
        <div class="field">
          <textarea
            id="content"
            rows="8"
            pInputTextarea
            [(ngModel)]="post.caption"
            [autoResize]="true"
            [placeholder]="('create_post.write_a_caption' | translate) + '...'"
            class="border-0 outline-none p-0 shadow-none"
            style="max-height: 154px;"
            [mentionConfig]="mentionConfig"
            [mentionListTemplate]="mentionListTemplate"
            (input)="onCaptionChange($event)"
          ></textarea>
        </div>
        <!-- Emoji -->
        <div class="field">
          <div class="relative">
            <i (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
              class="cursor-pointer fa-regular fa-face-smile text-xl">
            </i>
            <emoji-mart
              *ngIf="isEmojiPickerVisible"
              [showPreview]="false"
              (emojiSelect)="addEmoji($event)"
              [enableSearch]="false"
              [style]="{ position: 'absolute', top: '20px', left: '-18px', zIndex: '1' }"
            ></emoji-mart>
          </div>
        </div>
        <!-- Audio Player -->
        <div *ngIf="showPlayer && post.audioURL" class="flex justify-content-center align-items-center pb-3 w-full gap-2">
          <audio controls class="w-full">
            <source [src]="post.audioURL" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <i class="pi pi-trash cursor-pointer" (click)="post.audioURL=undefined; selectedAudioFile=null"></i>
        </div>

        <p-divider></p-divider>

        <!-- Audio -->
        <div class="flex justify-content-between align-items-center">
          <p>{{ 'create_post.audio' | translate }}</p>
          <div class="relative">
            <p-speedDial [model]="audioItems" direction="up" />
            <input #audioInput type="file" accept="audio/*" (change)="onAudioSelected($event)" hidden />
          </div>
        </div>

        <p-divider></p-divider>

      </div>
    </div>
  </div>
</p-dialog>

<!-- Visibility modal -->
<p-dialog
  class="visibility-dialog"
  [header]="'create_post.audience' | translate"
  [modal]="true"
  [(visible)]="isVisibleVisibility"
  [dismissableMask]="true"
  [style]="{ width: '23.5rem' }">

  <p-divider></p-divider>
  
  <div class="modal-content p-2">
    <span class="block text-center mb-3 mt-2 font-semibold">{{'create_post.who_would_you_like_to_share_your_post_with' | translate}}?</span>

    <div *ngFor="let visibility of visibilityOptions | keyvalue" class="field-checkbox mb-3">
      <p-radioButton 
        [inputId]="visibility.key"
        name="visibility" 
        [value]="visibility.value" 
        [(ngModel)]="selectedVisibility" />
      <label [for]="visibility.key" class="gap-2 flex align-items-center">
        <p-button *ngIf="visibility.value == visibilityOptions.PRIVATE" class="close-friend" icon="pi pi-lock" severity="secondary" size="small" />
        <p-button *ngIf="visibility.value === visibilityOptions.CLOSE_FRIENDS" class="close-friend" icon="pi pi-star-fill" severity="success" size="small" />
        <p-button *ngIf="visibility.value === visibilityOptions.PUBLIC" class="close-friend" icon="pi pi-users" severity="success" size="small" />
        {{ getVisibilityLabel(visibility.value) }}
      </label>
    </div>
  </div>
  <div class="modal-footer p-2">
    <p-button label="Save" severity="success" (click)="saveVisibility()" />
  </div>
</p-dialog>

<!-- Record audio -->
<app-voice-recorder-dialog
  [isVisibleRecorder]="isVisibleRecorder"
  (submitAudioEvent)="submitAudio($event)"
  (closeRecorderEvent)="isVisibleRecorder = false">
</app-voice-recorder-dialog>

<!-- Mention list template -->
<ng-template #mentionListTemplate let-user="item">
  <!-- each item -->
  <div class="flex justify-content-start align-content-center gap-2 cursor-pointer">
    <app-avatar [userId]="user.id" [width]="36"></app-avatar>
    <div class="flex flex-column">
      <span style="line-height: 1.3em;">{{user.username}}</span>
      <small class="text-gray-500" style="line-height: 1.3em;">{{user.followerCount}} followers</small>
    </div>
  </div>
</ng-template>