
<p-dialog
  header=""
  [closeOnEscape]="true"
  [(visible)]="visible"
  [modal]="!isDirectPost"
  [dismissableMask]="!isDirectPost"
  [autoZIndex]="true"
  (onHide)="closeDialog()"
  [showHeader]="false"
  [breakpoints]="{ '1180px': '90vw' }"
  class="post-detail-dialog"
  [ngClass]="isDirectPost ? 'direct-post-dialog' : ''"
  [style]="{ width: '80vw', height: '100%', zIndex: '999999' }"
  [draggable]="false"
  [resizable]="false">
  <div class="flex h-full lg:flex-row xl:flex-row flex-column">
    <!-- Left side (Photos) -->
    <div class="left col-12 lg:h-full xl:h-full h-5/6 p-0"
      [ngClass]="post.photos && post.photos.length && post.photos.length > 0 ? 'lg:col-8 xl:col-8' : 'max-w-0'">
      <p-carousel *ngIf="post.photos && post.photos?.length"
        [value]="post.photos"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="false"
        [style]="{ height: '100%', position: 'relative' }"
        [ngClass]="post.photos.length == 1 ? 'hide-slide-control' : ''">
        <ng-template let-photo pTemplate="item">
          <img src="{{ photo.url }}"
            [alt]="photo.altText"
            class="w-full h-full"
            style="object-fit: contain" />
        </ng-template>
      </p-carousel>
    </div>

    <!-- Vertical on large screen -->
    <p-divider class="hidden lg:block xl:block" layout="vertical"></p-divider>
    <!-- Horizontal on small screen -->
    <p-divider class="block lg:hidden xl:hidden"></p-divider>

    <!-- Right side (Details) -->
    <div class="right col-12 flex flex-column h-full p-0"
      [ngClass]="!post.photos || !post.photos.length || post.photos.length === 0 ? 'lg:col-12 xl:col-12' : 'lg:col-4 xl:col-4'">
      <!-- Avatar header -->
      <div class="p-3 flex justify-content-between align-items-center">
        <div class="flex align-items-center gap-2">
          <app-avatar [userId]="post.createdBy" [width]="36"></app-avatar>
          <div>
            <!-- username -->
            <h3 *ngIf="post.createdBy" class="inline-flex text-sm my-0 mr-1">
              <!-- {{ post.username }} -->
              <app-username-label [userId]="post.createdBy"
                        [username]="post.username"
                        [fontSize]="'1em'"
                        [color]="''">
              </app-username-label>
            </h3>
          </div>
          <br />
        </div>
        <!-- 3 dots -->
        <span (click)="dialogVisible = !dialogVisible" class="pi pi-ellipsis-h cursor-pointer"></span>
      </div>

      <p-divider></p-divider>

      <!-- --------------------------- LIST OF COMMENT ----------------------------->
      <app-comment-list 
        [post]="post"
        [currentUserId]="currentUserId"
        [comment]="comment"
        [newReply]="newReply"
        (onReplyEvent)="onReply($event.commentId, $event.ownerParentCommentId)"
        [style]="{ width: '100%', overflow: 'auto', flex: '1' }"
        class="hide-scrollbar">
      </app-comment-list>
      
      <p-divider></p-divider>

      <!-- Likes section -->
      <app-like *ngIf="post.id && post.createdBy"
        [isOnPostDetails]="true"
        [postId]="post.id"
        [createdBy]="post.createdBy"
        class="p-3"
      ></app-like>

      <p-divider></p-divider>

      <!-- Add a comment -->
      <div class="p-3 py-2 flex gap-1 align-items-center">
        <!-- Emojis -->
        <div class="relative">
          <i (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
            class="cursor-pointer fa-regular fa-face-smile text-xl"></i>
          <emoji-mart *ngIf="isEmojiPickerVisible"
            [showPreview]="false"
            [enableSearch]="false"
            (emojiSelect)="addEmoji($event)"
            [style]="{ position: 'absolute', bottom: '30px', right: '20 px' }"
          ></emoji-mart>
        </div>

        <!-- Comment input -->
        <!-- <p-editor (onTextChange)="textChange($event)"
          [(ngModel)]="comment.text"
          [formats]="['bold']"
          placeholder="Add a comment..."
          [style]="{ maxHeight: '40px' }">
          <ng-template pTemplate="header" hidden></ng-template>
        </p-editor> -->
        <textarea [(ngModel)]="comment.text" rows="1" pInputTextarea placeholder="Add a comment..." 
                    style="width: 100%; resize: none;" 
                    class="flex-1 text-sm border-0 py-1 outline-none shadow-none"></textarea>

        <!-- Post button -->
        <p-button [disabled]="!comment.text || comment.text.trim().length <= 0"
          (click)="postComment(); isEmojiPickerVisible = false"
          label="Post"
          size="small"
          [text]="true"
          styleClass="shadow-none"
        ></p-button>
      </div>
    </div>
  </div>
</p-dialog>

<app-report 
  [post]="post" 
  [display]="reportVisible" 
  (visibleChange)="handleReportModalVisibility($event)">
</app-report>

<app-global-dialog
  [display]="dialogVisible"
  [items]="dialogItems"
  (displayChange)="hideDialog()">
</app-global-dialog>
