<div class="xl:col-6 col-12 m-auto">
  <h1 class="text-2xl mb-4 text-center">{{'change_password.change_password' | translate}}</h1>

  <form class="flex flex-column gap-3">
    <!-- old password -->
    <input
      type="password"
      [placeholder]="'change_password.current_password' | translate"
      [(ngModel)]="currentPassword"
      name="password"
      (keydown.enter)="onSubmit()" />
    <!-- new password -->
    <input
      type="password"
      [placeholder]="'change_password.new_password' | translate"
      [(ngModel)]="newPassword"
      name="password"
      (keydown.enter)="onSubmit()" />
    <!-- confirm new password -->
    <input
      type="password"
      [placeholder]="'change_password.confirm_new_password' | translate"
      [(ngModel)]="confirmNewPassword"
      name="password"
      (keydown.enter)="onSubmit()" />
    
    <!-- button -->
    <p-button
      (click)="changePassword()"
      [disabled]="!currentPassword || !newPassword || !confirmNewPassword"
      [label]="'change_password.change_password' | translate"
      class="w-full mt-3"
      styleClass="w-full"
    />

    <!-- forgot password -->
    <div>
      <p class="text-center cursor-pointer text-sm mt-2"
        (click)="navigateToForgotPassword()">
        {{ 'change_password.forgot_password' | translate }}
      </p>
    </div>
  </form>
</div>