<div class="md:flex block">
  <app-mobile-top-menu *ngIf="isMobile"></app-mobile-top-menu>
  <app-left-menu *ngIf="!isMobile" (actionToggle)="actionToggle($event)"></app-left-menu>
  <div class="container">
    <router-outlet></router-outlet>
    <app-search [showSearch]="showSearch" (onClose)="showSearch = false" [isMobile]="isMobile"></app-search>
    <app-notifications [showNotifications]="showNotifications" (onClose)="showNotifications = false" [isMobile]="isMobile"></app-notifications>
  </div>
  <app-mobile-bottom-menu (actionToggle)="actionToggle($event)" *ngIf="isMobile"></app-mobile-bottom-menu>
</div>
